<head>
    <vtex:metaTags />
    <meta name="google-site-verification" content="nN78DRoqsakhAVEkMxpESoAJUSQAZ4J85Nxxfudv8yg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/arquivos/favicon.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- Preloder -->
    <script src="/arquivos/pace.min.js"></script>

    <!-- Style -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,400i,600,700" rel="stylesheet"
        type="text/css" />
    <!--<link href="https://auaha.com.br/store/Vtex/woodprime/build/arquivos/style.css" rel="stylesheet" type="text/css" />-->
    <link href="/arquivos/style.css" rel="stylesheet" type="text/css" />
</head>