<!-- Javascript -->
<div id="ah-global">
    <ah-alert></ah-alert>
</div>
<div class="ah-utils" aria-hide="true" style="display:none">
    <vtex.cmc:departmentNavigator />
</div>


<div id="coutdown-date" class="ah-hidden" hidden="">
    <ul id="fullbanner">
        <vtex.cmc:countDownFullbannerMagiore />
    </ul>

    <ul id="banner-inferior-00">
        <vtex.cmc:countDownBannerZeroMagiore />
    </ul>

    <ul id="banner-inferior-01">
        <vtex.cmc:countDownBannerOneMagiore />
    </ul>

    <ul id="banner-inferior-02">
        <vtex.cmc:countDownBannerTowMagiore />
    </ul>

    <ul id="banner-inferior-03">
        <vtex.cmc:countDownBannerTheeMagiore />
    </ul>

    <ul id="banner-inferior-04">
        <vtex.cmc:countDownBannerFourMagiore />
    </ul>

    <ul id="banner-inferior-05">
        <vtex.cmc:countDownBannerFiveMagiore />
    </ul>
</div>




<script src="/arquivos/jquery.zoom.min.js"></script>
<script src="/arquivos/jquery.countdown.min.js"></script>
<script src="/arquivos/app_magiore.js"></script>

<vtex.cmc:prodtags />
<script src="/arquivos/slick.min.js"></script>