<vtex:metaTags />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="RNDgOcnc1FiWOOz9YCWkVTG3-awR0tEv27gA08f8rbQ" />
<meta name="google-site-verification" content="w9pgVfhGLjmUMOFvCY6jlDt2cHmpNnK5l590jL2PAi4" />
<meta name="google-site-verification" content="nN78DRoqsakhAVEkMxpESoAJUSQAZ4J85Nxxfudv8yg" />
<meta name="p:domain_verify" content="71596d53f8c0c72ad9e745808da46ddd" />
<meta name="msapplication-TileColor" content="#a89974" />
<meta name="theme-color" content="#a89974" />

<!-- favicon -->
<link rel="icon" href="/arquivos/favicon.ico" />

<!-- Vendor CSS -->
<link href="/arquivos/woodprime-mobile-vendor.min.css" rel="stylesheet" type="text/css" />

<!-- App CSS -->
<link href="/arquivos/VECI-woodprime-mobile-app-main.min.css" rel="stylesheet" type="text/css" />

<!-- Start of Conectiva.io -->
<script type="text/javascript" id="xengine" src="//conectiva.io/XEngine/loader.js?key=7APQJ46090"></script>