<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="RNDgOcnc1FiWOOz9YCWkVTG3-awR0tEv27gA08f8rbQ" />
<meta name="google-site-verification" content="nN78DRoqsakhAVEkMxpESoAJUSQAZ4J85Nxxfudv8yg" />
<meta name="google-site-verification" content="w9pgVfhGLjmUMOFvCY6jlDt2cHmpNnK5l590jL2PAi4" />
<meta name="p:domain_verify" content="71596d53f8c0c72ad9e745808da46ddd" />
<meta name="msapplication-TileColor" content="#a89974" />
<meta name="theme-color" content="#a89974" />
<vtex:metaTags />
<!-- favicons -->
<link rel="icon" href="https://woodprime.vteximg.com.br/arquivos/ids/161663/favicon.ico" />

<!-- Apps CSS -->
<link href="/arquivos/woodprime-app-main.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/woodprime-vendor.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet"
    type="text/css" />
<!-- Start of Conectiva.io -->
<script type="text/javascript" id="xengine" src="//conectiva.io/XEngine/loader.js?key=7APQJ46090"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="http://malsup.github.io/jquery.cycle2.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 614025, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<style>
    .dynamicsection p a {
        color: #666;
        text-decoration: underline;
    }

    .section__store h4,
    .section__store h3 {
        margin-top: 0px !important;
        margin-bottom: 25px !important;
    }

    body.about__company .section__contact .shell {
        height: 420px !important;
    }

    body.about__company iframe {
        height: 520px;
    }

    body.about__company .section__contact .shell .banners__clip .content__banners .cols {
        -webkit-flex-wrap: initial;
        -ms-flex-wrap: initial;
        flex-wrap: initial !important;
    }

    .section__store p {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .box-search .main-search {
        background-color: transparent;
    }

    .section-textoSeo h2,
    .section-textoSeo h3,
    .section-textoSeo h4,
    .section-textoSeo h5,
    .section-textoSeo h1 {
        font-family: Montserrat, sans-serif;
        color: #b09b73;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin: 40px 0;
        position: relative;
    }

    .section-textoSeo p,
    .section-textoSeo span,
    .section-textoSeo strong {
        height: auto;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 110px;
        font-family: 'Open Sans', sans-serif;
        color: #666;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
    }

    .sticky {
        position: fixed !important;
        z-index: 99999 !important;
        width: 100% !important;
        top: 0px;
    }

    .dynamicsection h2,
    .dynamicsection h3,
    .dynamicsection h1,
    .dynamicsection h4,
    .dynamicsection h5 {
        font-family: Montserrat, sans-serif;
        color: #b09b73;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
        position: relative;
    }

    .dynamicsection p {
        min-height: auto !important;
        margin-bottom: 25px !important;
    }

    .box-search .main-search .form-search input {
        background-position: center !important;
    }

    .bgtransparent {
        background-color: transparent;
    }

    .fullwidth {
        width: 100% !important;
    }

    .btnglobal {
        color: #fff;
        background: #b09b73;
        z-index: 999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        line-height: 50px;
        text-align: center;
        -webkit-box-shadow: 0 4px 39px -15px rgba(0, 0, 0, .41);
        -moz-box-shadow: 0 4px 39px -15px rgba(0, 0, 0, .41);
        box-shadow: 0 4px 39px -15px rgba(0, 0, 0, .41);
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        width: 150px;
        height: 50px;
        margin: 0 auto;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
    }

    .section__comments .list__comment .col .text-comment p {
        height: auto;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 110px;
    }

    .widget__content li {
        padding: 0px !important;
        text-align: left !important;
    }

    .breadcrumbs ul li {
        padding: 10px;
        padding-top: 0px;
    }

    .section__comments .list__comment .col {
        padding: 0px;
    }

    header .nav-all-category {
        margin-top: -11px;
    }

    header .nav-mega {
        margin-top: -11px;
    }

    .slider {
        z-index: 99;
    }

    .section__body p a {
        font-family: Montserrat, sans-serif;
        color: #b09b73;
        font-weight: 300;
        font-size: 30px;
        margin: 40px 0;
        position: relative;
        margin-top: 50px;
        margin-bottom: 50px;
        float: left;
        width: 100%;
        text-align: center;
    }

    .section__body iframe {
        margin: 0 auto;
        width: 100%;
    }

    .accordion__body {
        font-family: Montserrat, sans-serif;
        padding: 0 10%;
        text-align: center;
        line-height: 1.9;
        font-size: 16px;
    }

    .section__body .shell h4,
    .section__body .shell h3 {
        font-family: Montserrat, sans-serif;
        color: #b09b73;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
        margin: 40px 0;
        position: relative;
    }

    .section__body p,
    .section__body li {
        font-family: Montserrat, sans-serif;
        padding: 0 10%;
        text-align: center;
        line-height: 1.9;
        font-size: 16px;
    }

    .section-banners-top,
    .section__instagram {
        overflow: hidden !important;
    }

    .section__instagram .header__title p {
        display: none !important;
    }

    .header__title .btn__follow {
        display: none !important;
    }

    .instagram__components .header__title .btn__follow {
        display: block !important;
    }

    header.header {
        position: fixed !important;
        z-index: 99999 !important;
        width: 100% !important;
        top: 0px;
    }

    header.header .search {
        top: 2px !important;
    }

    header.header.nav-down .header-middle,
    header.header .header-middle {
        position: relative;
        z-index: 1;
        background: #fff;
        box-shadow: 500px 0 0 #ffffff, -500px 0 0 #ffffff;
        transition: all 0.5s ease-in-out;
        margin-top: 0;
    }

    header.header.nav-down .nav-menu,
    header.header .nav-menu {
        position: relative;
        z-index: 0;
        transition: all 0.5s ease-in-out;
        margin-top: 0;
    }

    header.header.nav-up .header-middle {
        margin-top: -32px;
    }

    header.header.nav-up .nav-menu {
        margin-top: -51px;
    }

    header.header .nav-menu ul li .nav-mega {
        top: 61px !important;
    }

    main.main {
        padding-top: 184px;
    }

    .header .header-fixed .nav-all-category,
    .header .nav-menu ul>li .nav-all-category,
    .header .nav-menu ul>li .nav-mega {
        top: 61px !important;
    }
</style>