<script type="text/javascript" src="/arquivos/woodprime-vendor.min.js?v=001"></script>
<script type="text/javascript" src="/arquivos/woodprime-app-main.min.js?v=001"></script>
<script type="text/javascript" src="/arquivos/woodprime-app-components.min.js"></script>
<script type="text/javascript" src="/arquivos/woodprime.cms.min.js?v=008"></script>
<script type="text/javascript" id="getSelo"
    src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?50218"></script>
<script type="text/javascript" src="/arquivos/woodprime-topbar.js"></script>

<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/5fbc4b42-2fa6-4607-aa7b-807027e268bd/yvapi.js";
        var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.woodprime.com.br/",
    "logo": "https://woodprime.vteximg.com.br/arquivos/logo-site.png",
    "sameAs": [
      "https://br.pinterest.com/woodprime/",
      "https://www.instagram.com/woodprime/",
      "https://www.linkedin.com/in/woodprime/",
      "https://www.facebook.com/woodprimemoveis/"
    ]
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Store",
    "url": "https://www.woodprime.com.br/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "http://www.woodprime.com.br/?ft={search_term}",
      "query-input": "required name=search_term"
    }
  }
</script>