<quickview></quickview>

<footer class="footer">
    <div class="scroll-top">
        <i class="ico-scroll"></i>
    </div><!-- /.scroll-top-->

    <div class="section-contact">
        <div class="shell">
            <div class="cols">
                <div class="col col-1of4">
                    <h4> Sobre nós </h4>

                    <p> A Wood Prime é uma empresa consolidada no segmento de móveis e decorações e conquistou sua
                        credibilidade a nível nacional, oferecendo produtos de produção própria, com excelência e
                        acabamento superior, além de contar com fornecedores parceiros escolhidos minunciosamente para
                        apresentar o padrão de qualidade que acreditamos, para transmitir o luxo necessário. Atuando no
                        mercado desde 2010, onde ingressou no e-commerce, a Wood Prime está expandindo cada vez mais
                        suas perspectivas, adquirindo a confiança de seus consumidores agora também através da loja
                        física, possibilitando disponibilizar uma grande variedade de produtos e estilos aos clientes de
                        todo o Brasil.</p>
                </div><!-- /.col-1of4 -->

                <div class="col col-2of4">
                    <h4> Onde estamos </h4>

                    <div class="col-size1">
                        <h5> Loja Física Londrina </h5>
                        <p>Av. Maringá, 1990 - Vitória <br />Londrina / PR <br />FONE: (043) 3343-7500</p>
                    </div><!-- /.col-size1 -->

                    <div class="col-size1">
                        <h5> Centro de distribuição PR </h5>
                        <p>Rua Escócia, 433 <br />Londrina / PR <br />CEP: 86046-230</p>
                    </div><!-- /.col-size1 -->

                    <div class="col-size2">
                        <h5> Centro de distribuição SC </h5>
                        <p>Rio Negrinho / SC</p>
                    </div><!-- /.col-size1 -->

                    <div class="col-size3">
                        <h5> </h5>
                        <p> </p>
                    </div><!-- /.col-size1 -->
                </div><!-- /.col-2of4 -->

                <div class="col col-3of4">
                    <h4> Links úteis </h4>

                    <ul>
                        <li>
                            <a href="/institucional/loja-londrina">
                                Nossa loja
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/como-comprar">
                                Como comprar
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/formas-de-pagamento">
                                Formas de pagamento
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/formas-de-envio-e-entrega-segura">
                                Formas de envio e entrega
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/seguranca">
                                Segurança
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/trocas-e-devolucoes">
                                Trocas e devoluções
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/empresa">
                                Sobre nós
                            </a>
                        </li>

                        <li>
                            <a href="/institucional/fale-conosco">
                                Fale conosco
                            </a>
                        </li>

                        <li>
                            <a href="https://blog.woodprime.com.br/" title="Blog Wood Prime" target="_blank">
                                Blog Wood Prime
                            </a>
                        </li>
                    </ul>
                </div><!-- /.col-3of4 -->

                <div class="col col-4of4">
                    <h4> Central de atendimento </h4>

                    <div class="col-size1">
                        <p> Horário de Atendimento Site de Seg. à Sex. </p>
                        <p> 8h30 às 18h | Sáb. 09h às 12h. </p>
                    </div><!-- /.col-size1 -->

                    <div class="col-size1">
                        <p> Horário de Atendimento Loja Física de Seg. à Sex. </p>
                        <p> 9h às 18h | Sáb. 09h às 13h. </p>
                    </div><!-- /.col-size1 -->

                    <div class="col-size2">
                        <ul>
                            <li>
                                <i class="ico ico-phone"></i>
                                <a href="tel:08000420103">0800 042 0103</a>
                            </li>

                            <li>
                                <i class="ico ico-whatsapp"></i>
                                <a href="http://bit.ly/WhatsdaWood">(43) 99968-6699</a>
                            </li>

                            <li>
                                <i class="ico ico-email"></i>
                                <a href="mailto:atendimento@woodprime.com.br">atendimento@woodprime.com.br</a>
                            </li>
                        </ul>
                    </div><!-- /.col-size1 -->
                </div><!-- /.col-4of4 -->
            </div><!-- /.cols -->
        </div><!-- /.shell -->
    </div><!-- /.section-contact -->

    <div class="section__categorys">
        <div class="shell">
            <nav class="list__categoty">
                <ul>
                    <li>
                        <a href="/sala-de-estar" title="Sala de estar">
                            Sala de estar
                        </a>
                    </li>

                    <li>
                        <a href="/sala-de-jantar" title=" Sala de jantar">
                            Sala de jantar
                        </a>
                    </li>

                    <li>
                        <a href="/quarto" title="Quarto">
                            Quarto
                        </a>
                    </li>

                    <li>
                        <a href="/escritorio" title="Escritório">
                            Escritório
                        </a>
                    </li>

                    <li>
                        <a href="/cozinha" title="Cozinha">
                            Cozinha
                        </a>
                    </li>

                    <li>
                        <a href="/area-externa" title="Área externa">
                            Área externa
                        </a>
                    </li>

                    <li>
                        <a href="/infantil" title="Infantil">
                            Infantil
                        </a>
                    </li>
                </ul>
            </nav><!-- /.list__categoty -->
        </div><!-- /.shell -->
    </div><!-- /.section__categorys -->

    <div class="shell">
        <div class="box-col">
            <div class="col col-size1">
                <p>Visa | MasterCard | American Express | Elo | Hipercard | Diners | Boleto Bancário</p>
            </div><!-- /.col-size3 -->

            <div class="col col-size2" style="width: auto!important">
                <ul>
                    <li>
                        <a href="https://www.ebit.com.br/wood-prime" target="_blank">
                            <img src="/arquivos/selo-Ebit.png" alt="seloEbit" />
                        </a>
                    </li>

                    <li>
                        <a id="seloYourviews" href="https://lojaconfiavel.com/woodprime" target="_blank">
                            <img src="/arquivos/selo_Yourviews.png" alt="seloYourViews" />
                        </a>
                    </li>

                    <li>
                        <a id="seloReclameAqui" href="https://www.reclameaqui.com.br/empresa/wood-prime/"
                            target="_blank">
                            <img src="/arquivos/selo-reclame-aqui.png" alt="seloReclameAqui" />
                        </a>
                    </li>

                    <!--	<li>
    					<a id="seloGoogle" href="javascript:window.open('https://google.com/safebrowsing/diagnostic?hl=pt-PT&amp;site=www.woodprime.com.br', 'c_TW', 'location=no, toolbar=no, width=800, height=1070');" target="_blank">
						    <img src="/arquivos/selo-safe-browsing.png" alt="Google"/>
						</a>
    				</li>
    
    				<li>
    					<a id="seloNorton" href="javascript:window.open('https://www.certisign.com.br/seal/splashcerti.htm', 'c_TW', 'location=no, toolbar=no, width=800, height=1070');" target="_blank">
						    <img src="/arquivos/selo-norton.png" alt="Norton"/>
						</a>
    				</li> -->
                </ul>
            </div><!-- /.col-size2 -->
        </div>

        <div class="col col-size3">
            <ul>
                <li>
                    <a href="https://www.instagram.com/woodprime/" target="_blank">
                        <i class="ico ico-instagram">Instagram</i>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/woodprimemoveis/" target="_blank">
                        <i class="ico ico-facebook">Facebook</i>
                    </a>
                </li>

                <li>
                    <a href="https://br.pinterest.com/woodprime/" target="_blank">
                        <i class="ico ico-pinterest">Pinterest</i>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/woodprime/" target="_blank">
                        <i class="ico ico-linkedin">LinkedIn</i>
                    </a>
                </li>
            </ul>
        </div><!-- /.col-size3 -->

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB98LQ" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="copyright">
            <p> © 2019 www.woodprime.com.br<br />WOOD PRIME COMERCIO DE MOVEIS LTDA LTDA - CNPJ 19962381000118 - I.E.
                90659814-05 </p>

            <p class="powered-by"> Powered by: <i class="ico ico-vtex">Vtex</i></p>
        </div><!-- /.copyright -->
    </div><!-- /.shell -->
</footer><!-- /.footer -->
<script src="https://woodprime.vteximg.com.br/arquivos/fixed.js"></script>
<script src="/arquivos/app.js"></script>
<script>
    $(document).ready(function () {
        $("#btnsaibamais").click(function (event) {
            event.preventDefault();
            $("#hidetext").slideDown();
        });
    });
</script>