<button class="btn-nav">
    <span></span>
    <span></span>
    <span></span>
</button><!-- /.btn-nav -->

<div class="logo">
    <a href="/">
        <img src="https://woodprime.vteximg.com.br/arquivos/logo-mobile-wood-prime.png" alt="wood prime móveis" />
    </a>
</div><!-- /logo -->

<div class="mini-cart">
    <mini-cart></mini-cart>
</div><!-- /.mini-cart -->

<nav class="main-nav">
    <div class="header-nav">
        <div class="title-nav">
            <h3>Menu</h3>
            <button type="button" class="nav-close">+</button>
        </div>
        <div class="user-login">
            <user-login></user-login>
        </div><!-- /.user-login -->
        <div class="contact-us">
            <a href="/institucional/fale-conosco">
                <i class="ico ico-chat"></i>
            </a>
        </div><!-- /.contact-us -->
    </div><!-- /.header-nav -->
    <div class="body-nav">
        <ul>
            <li>
                <a href="/sala-de-estar">Sala de estar</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/sala-de-estar">Menu / Sala de estar</a>
                    </div>
                    <ul>
                        <li><a href="/sala-de-estar/cadeiras-medalhao">Cadeiras Medalhão</a></li>
                        <li><a href="/sala-de-estar/poltronas-luis-xv">Poltronas Luis XV</a></li>
                        <li><a href="/sala-de-estar/poltronas-medalhao">Poltronas Medalhão</a></li>
                        <li><a href="/sala-de-estar/poltronas-classicas">Poltronas Clássicas</a></li>
                        <li><a href="/sala-de-estar/poltronas">Poltronas</a></li>
                        <li><a href="/sala-de-estar/aparadores">Aparadores</a></li>
                        <li><a href="/sala-de-estar/cristaleiras">Cristaleiras</a></li>
                        <li><a href="/sala-de-estar/estantes">Estantes</a></li>
                        <li><a href="/sala-de-estar/mesas-de-apoio">Mesas de Apoio</a></li>
                        <li><a href="/sala-de-estar/mesas-de-centro">Mesas de Centro</a></li>
                        <li><a href="/sala-de-estar/namoradeiras">Namoradeiras</a></li>
                        <li><a href="/sala-de-estar/racks">Racks</a></li>
                        <li><a href="/sala-de-estar/painel">Painel</a></li>
                        <li><a href="/sala-de-estar/impermeaveis">Impermeáveis</a></li>
                        <li><a href="/sala-de-estar/balcao">Balcão</a></li>
                        <li><a href="/sala-de-estar/puffs">Puffs</a></li>
                        <li><a href="/sala-de-estar/molduras">Molduras</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/sala-de-jantar">Sala de jantar</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/sala-de-jantar">Menu / Sala de jantar</a>
                    </div>
                    <ul>
                        <li><a href="/sala-de-jantar/adegas">Adegas</a></li>
                        <li><a href="/sala-de-jantar/buffet">Buffet</a></li>
                        <li><a href="/sala-de-jantar/cadeiras-de-jantar">Cadeiras de Jantar</a></li>
                        <li><a href="/sala-de-jantar/cadeiras-luis-xv">Cadeiras Luis XV</a></li>
                        <li><a href="/sala-de-jantar/cadeiras-medalhao">Cadeiras Medalhão</a></li>
                        <li><a href="/sala-de-jantar/mesas-de-jantar">Mesas de Jantar</a></li>
                        <li><a href="/sala-de-jantar/poltronas-luis-xv">Poltronas Luis XV</a></li>
                        <li><a href="/sala-de-jantar/poltronas-medalhao">Poltronas Medalhão</a></li>
                        <li><a href="/sala-de-jantar/conjuntos">Conjuntos</a></li>
                        <li><a href="/sala-de-jantar/bases-para-mesas">Bases para Mesas</a></li>
                        <li><a href="/impermeaveis">Impermeáveis</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/quarto">Quarto</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/quarto">Menu / Quarto</a>
                    </div>
                    <ul>
                        <li><a href="/quarto/cabeceiras">Cabeceiras</a></li>
                        <li><a href="/quarto/comoda-bombe">Cômoda Bombê</a></li>
                        <li><a href="/quarto/comodas">Cômodas</a></li>
                        <li><a href="/quarto/criado-mudo">Criado Mudo</a></li>
                        <li><a href="/quarto/penteadeiras">Penteadeiras</a></li>
                        <li><a href="/quarto/poltronas-classicas">Poltrona Amamentação</a></li>
                        <li><a href="/quarto/poltronas-classicas">Poltronas Clássicas</a></li>
                        <li><a href="/quarto/sapateiras">Sapateiras</a></li>
                        <li><a href="/quarto/recamier-e-puff">Recamier e Puff</a></li>
                        <li><a href="/quarto/roupeiros">Roupeiros</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/escritorio">Escritório</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/escritorio">Menu / Escritório</a>
                    </div>
                    <ul>
                        <li><a href="/escritorio/cadeiras">Cadeiras</a></li>
                        <li><a href="/escritorio/estantes">Estantes</a></li>
                        <li><a href="/escritorio/gaveteiros">Gaveteiros</a></li>
                        <li><a href="/escritorio/mesas-para-computador">Mesas para Computador</a></li>
                        <li><a href="/escritorio/mesas-e-escrivaninhas">Mesas e Escrivaninhas</a></li>
                        <li><a href="/escritorio/balcao">Balcão</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/cozinha">Cozinha</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/cozinha">Menu / Cozinha</a>
                    </div>
                    <ul>
                        <li><a href="/cozinha/armarios">Armários</a></li>
                        <li><a href="/cozinha/balcao">Balcão</a></li>
                        <li><a href="/cozinha/banquetas">Banquetas</a></li>
                        <li><a href="/cozinha/cadeiras">Cadeiras</a></li>
                        <li><a href="/cozinha/mesas">Mesas</a></li>
                        <li><a href="/cozinha/conjuntos">Conjuntos</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/area-externa">Área externa</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/area-externa">Menu / Área externa </a>
                    </div>
                    <ul>
                        <li><a href="/area-externa/area-gourmet">Área Gourmet</a></li>
                        <li><a href="/area-externa/bancos">Bancos</a></li>
                        <li><a href="/area-externa/complementos">Complementos</a></li>
                        <li><a href="/area-externa/cadeiras">Cadeiras</a></li>
                        <li><a href="/area-externa/mesas">Mesas</a></li>
                        <li><a href="/area-externa/mesas-de-centro-e-laterais">Mesas de Centro e Laterais</a></li>
                        <li><a href="/area-externa/sofas-e-poltronas">Sofás e Poltronas</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/infantil">Infantil</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/infantil">Menu / Infantil</a>
                    </div>
                    <ul>
                        <li><a href="/infantil/bercos">Berços</a></li>
                        <li><a href="/infantil/cadeiras-e-poltronas">Cadeiras e Poltronas</a></li>
                        <li><a href="/infantil/camas">Camas</a></li>
                        <li><a href="/infantil/comodas">Cômodas</a></li>
                        <li><a href="/infantil/criado-mudo">Criado Mudo</a></li>
                        <li><a href="/infantil/mesinhas">Mesinhas</a></li>
                        <li><a href="/infantil/poltronas-amamentacao">Poltronas Amamentação</a></li>
                        <li><a href="/infantil/prateleiras">Prateleiras</a></li>
                        <li><a href="/infantil/conjuntos">Conjuntos</a></li>
                        <li><a href="/infantil/roupeiros">Roupeiros</a></li>
                        <li><a href="/infantil/bau">Baú</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
            <li>
                <a href="/decoracoes">Decoração</a>
            </li>

            <li>
                <a href="/banheiro">Banheiro</a>
                <div class="nav-mega">
                    <div class="breadcrumb-nav">
                        <a href="/banheiro">Menu / Banheiro</a>
                    </div>
                    <ul>
                        <li><a href="/banheiro/balcao">Balcão</a></li>
                        <li><a href="/banheiro/conjuntos">Conjuntos</a></li>
                    </ul>
                    <button class="btn-back" type="button">voltar</button>
                </div><!-- /.nav-mega -->
            </li>
        </ul>
    </div><!-- /.body-nav -->
</nav><!-- /.main-nav -->
<script>
    setTimeout(function () {

        document.querySelector(".form-search button").disabled = false;

    }, 2000);
</script>