<footer class="footer">
    <div class="navigation-footer">
        <ul>
            <li><a href="/institucional/empresa" title="Sobre nós">Sobre nós</a></li>
            <li><a href="/institucional/onde-estamos" title="Onde estamos">Onde estamos</a></li>
            <li><a href="/institucional/links-uteis" title="Links Úteis">Links Úteis</a></li>
            <li><a href="/institucional/fale-conosco" title="Atendimento">Atendimento</a></li>
        </ul>
    </div><!-- /.navigation-footer -->
    <div class="payment-methods">
        <h4>Pague com:</h4>
        <p>Visa | MasterCard | American Express | Elo | Hipercard | Diners | Boleto Bancário</p>
    </div><!-- /.payment-methods -->
    <div class="security" style="display: none">
        <h4>Segurança:</h4>
        <ul>
            <li><a id="seloEbit" href="http://www.ebit.com.br/50218" target="_blank" data-noop="redir(this.href);"></a>
            </li>
            <li>
                <a id="seloReclameaqui" href="https://www.reclameaqui.com.br/empresa/wood-prime/" target="_blank">
                    <img src="/arquivos/selo-reclame-aqui-wood-prime.png" alt="Selo Reclame Aqui" />
                </a>
            </li>
            <li>
                <a id="seloYourviews" href="https://lojaconfiavel.com/woodprime" target="_blank">
                    <img src="/arquivos/selo-yourviews.png" alt="Selo Yourviews" />
                </a>
            </li>
        </ul>
    </div><!-- /.security -->
    <div class="social">
        <ul>
            <li>
                <a href="https://www.instagram.com/woodprime/">
                    <i class="ico ico-instagram">Instagram</i>
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/woodprimemoveis/">
                    <i class="ico ico-facebook">Facebook</i>
                </a>
            </li>

            <li>
                <a href="https://br.pinterest.com/woodprime/">
                    <i class="ico ico-pinterest">Pinterest</i>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/woodprime/">
                    <i class="ico ico-linkedin">LinkedIn</i>
                </a>
            </li>
        </ul>
    </div><!-- /.social -->
    <div class="copyright">
        <p>Copyright © 2019 Wood Prime</p>
        <p>WOOD PRIME COMERCIO DE MOVEIS LTDA LTDA </p>
        <p>CNPJ 19962381000118 - I.E. 90659814-05</p>
        <p class="powered-by"> Powered by: <i class="ico ico-vtex">Vtex</i></p>
    </div><!-- /.copyright -->
</footer>

<!--
<main-search></main-search>
-->
<script src="https://woodprime.vteximg.com.br/arquivos/fixed.js"></script>
<script src="/arquivos/app.js"></script>
<script>
    $(document).ready(function () {
        $("#btnsaibamais").click(function (event) {
            event.preventDefault();
            $("#hidetext").slideDown();
        });
    });
</script>