<script type="text/javascript" src="/arquivos/woodprime-mobile-vendor.min.js"></script>
<script type="text/javascript" src="/arquivos/woodprime-mobile-app-main.min.js"></script>
<script type="text/javascript" src="/arquivos/woodprime-mobile-app-components.min.js?v=05062019"></script>
<script type="text/javascript" src="/arquivos/woodprime-mobile-topbar.js"></script>
<!--script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?50218"></script-->
<!--script src="https://s3-sa-east-1.amazonaws.com/verificada/96844-selo-verificada.js" ></script-->
<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/5fbc4b42-2fa6-4607-aa7b-807027e268bd/yvapi.js";
        var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
</script>