<footer class="footer" id="footer">
    <div class="footer__container">

        <div class="footer__nav">
            <h3 class="footer__title">Atendimento</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <div class="contact contact--white">
                        <div class="contact__label">Telefone de Atendimento</div>
                        <div class="contact__tel">(13) 3453-4741</div>
                    </div>
                </li>
                <li class="footer__nav-item">
                    <div class="contact contact--white">
                        <div class="contact__label">Whatsapp</div>
                        <div class="contact__tel">(11) 97105-6481</div>
                        <div class="contact__email">beleza@monali.com.br</div>
                    </div>
                    <div class="social social--center">
                        <ul class="social__list">
                            <li class="social__item">
                                <a href="">
                                    <img src="/arquivos/facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="">
                                    <img src="/arquivos/instagram.png" alt="Instagram" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer__nav">
            <h3 class="footer__title">Institucional</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Quem somos">Quem somos</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Loja Física">Loja Física</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Fale Conosco">Fale Conosco</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Acesse o Blog">Acesse o Blog</a>
                </li>
            </ul>
        </div>

        <div class="footer__nav">
            <h3 class="footer__title">Ajuda</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Pagamentos">Pagamentos</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="FAQ">FAQ</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title=">Política de Privacidade">Política de Privacidade</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#link" class="footer__link" title="Contato">Contato</a>
                </li>
            </ul>
        </div>


        <div class="footer__nav footer__nav--payment payment">
            <h3 class="footer__title">Pagamento</h3>
            <ul class="payment__list">
                <li class="payment__ico"><img src="/arquivos/visa.png" alt="Visa" /></li>
                <li class="payment__ico"><img src="/arquivos/mastercard.png" alt="Mastercard" /></li>
                <li class="payment__ico"><img src="/arquivos/amex.png" alt="Amex" /></li>
                <li class="payment__ico"><img src="/arquivos/diners.png" alt="Diners" /></li>
                <li class="payment__ico"><img src="/arquivos/aura.png" alt="Aura" /></li>
                <li class="payment__ico"><img src="/arquivos/elo.png" alt="Elo" /></li>
                <li class="payment__ico"><img src="/arquivos/hipercard.png" alt="Hipercard" /></li>
                <li class="payment__ico"><img src="/arquivos/bb.png" alt="BB" /></li>
                <li class="payment__ico"><img src="/arquivos/bradesco.png" alt="Bradesco" /></li>
                <li class="payment__ico"><img src="/arquivos/itau.png" alt="Itaú" /></li>
                <li class="payment__ico"><img src="/arquivos/boleto.png" alt="Boleto" /></li>
            </ul>
        </div>

        <div class="footer__nav footer__nav--security security">
            <h3 class="footer__title">Segurança</h3>
            <div class="security__list">
                <div class="security__item">
                    <a href="#"><img src="/arquivos/ebit.png" alt="Ebit" /></a>
                </div>
                <div class="security__item">
                    <a href="#"><img src="/arquivos/vtexcertifiec.png" alt="" /></a>
                </div>
                <div class="security__item">
                    <a href="#"><img src="/arquivos/siteblindado.png" alt="" /></a>
                </div>
            </div>

        </div>

    </div>
    <div class="copyright">
        <div class="copyright__container">
            <p>Copyright © 2018-nomedaempresa.com.br. Todos os direitos reservados.</p>
            <p>Os preços, promoções, condições de pagamento, frete e produtos  são válidos exclusivamente para compras realizadas via internet. Fotos meramente ilustrativas. Nome da Empresa Ltda. Me CNPJ: 11.111.111/0001-11 - Endereço: Rua da Rua, 00 - São Paulo - SP</p>
        </div>
    </div>
    <div class="partners">
        <div class="partners__container">
            <a href="//www.auaha.com.br" target="_blank" class="partners__link partners__link--auaha">
                <img src="/arquivos/auaha.png" alt="Auaha" />
            </a>
            <a href="//www.vtex.com" target="_blank" class="partners__link partners__link--vtex">
                <img src="/arquivos/vtex.png" alt="Vtex" />
            </a>
        </div>
    </div>
</footer>