<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <meta name="google-site-verification" content="RNDgOcnc1FiWOOz9YCWkVTG3-awR0tEv27gA08f8rbQ" />

    <title>Loja de Móveis e Decorações Online | Cadeira, Mesas, Criado-Mudo e muito mais.</title>
    <vtex:template id="wood-prime-head" />

    <!-- App home css -->
    <link href="/arquivos/woodprime-home.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrapper" id="woodprime-app">
        <header class="header">
            <vtex:template id="wood-prime-header" />
            <meta name="google-site-verification" content="RNDgOcnc1FiWOOz9YCWkVTG3-awR0tEv27gA08f8rbQ" />

        </header><!-- /.header -->

        <main class="main">
            <div class="slider">
                <div class="slider-clip owl-carousel">
                    <vtex:contentPlaceHolder id="slider-main" />
                </div><!-- /.slider-clip owl-carousel -->

                <div class="shell">
                    <div class="slider-dots">
                        <a href="#" class="slider-prev">
                            <span>slide prev</span>
                        </a>

                        <a href="#" class="slider-next">
                            <span>slide next</span>
                        </a>
                    </div><!-- /.slider-dots -->
                </div><!-- /.shell -->
            </div><!-- /.slider -->

            <div class="section-countdown">
                <div class="shell">
                    <div id="countdown-black-briday"></div>
                </div><!-- /.shell -->
            </div><!-- /.section-countdown -->

            <div class="section-banners-top">
                <div class="shell">
                    <div class="banners-clip owl-carousel">
                        <vtex:contentPlaceHolder id="section-banners-top" />
                    </div><!-- /.slider-clip -->
                </div><!-- /.shell -->
            </div><!-- /.section-products-bottom -->

            <div class="section-products">
                <div class="shell">
                    <div class="slider-products">
                        <div class="slider-clip">
                            <vtex:contentPlaceHolder id="section-products-01" />
                        </div><!-- /.slider-clip -->
                    </div><!-- /.slider-products -->
                </div><!-- /.shell -->
            </div><!-- /.section-products -->

            <div class="section-banners-middle">
                <div class="shell">
                    <div class="banners-clip">
                        <vtex:contentPlaceHolder id="section-banners-middle" />
                    </div><!-- /.slider-clip -->
                </div><!-- /.shell -->
            </div><!-- /.section-banners-middle -->

            <div class="section-products">
                <div class="shell">
                    <div class="slider-products">
                        <div class="slider-clip">
                            <vtex:contentPlaceHolder id="section-products-02" />
                        </div><!-- /.slider-clip -->
                    </div><!-- /.slider-products -->
                </div><!-- /.shell -->
            </div><!-- /.section-products -->

            <div class="section-banners-bottom">
                <div class="shell">
                    <div class="banners-clip">
                        <vtex:contentPlaceHolder id="section-banners-bottom" />
                    </div><!-- /.slider-clip -->
                </div><!-- /.shell -->
            </div><!-- /.section-products-bottom -->

            <div class="section-products">
                <div class="shell">
                    <div class="slider-products">
                        <div class="slider-clip">
                            <vtex:contentPlaceHolder id="section-products-03" />
                        </div><!-- /.slider-clip -->
                    </div><!-- /.slider-products -->
                </div><!-- /.shell -->
            </div><!-- /.section-products -->

            <div class="section-comments">
                <div class="shell">
                    <h2> O que dizem sobre nós </h2>

                    <div clas="content-comments">
                        <ul class="list-comment">
                            <li class="col">
                                <div class="comment-star">
                                    <span class="evaluation-star">
                                        <i style="width: 5%;"></i>
                                    </span>
                                </div><!-- /.comment-star-->

                                <div class="text-comment">
                                    <p> O produto é lindo e de qualidade. Ficou lindo na minha sala! </p>
                                </div><!-- /.text-comment -->

                                <div class="author">
                                    <i class="ico ico-user"></i>
                                    <strong> Camila Costa Rabelo </strong>
                                    <span> 21/01/2019 </span>
                                </div><!-- /.author -->
                            </li>

                            <li class="col">
                                <div class="comment-star">
                                    <span class="evaluation-star">
                                        <i style="width: 5%;"></i>
                                    </span>
                                </div><!-- /.comment-star-->

                                <div class="text-comment">
                                    <p> Achei minha Poltrona bonita, elegante e comfortável. Móvel leve, fácil de mover.
                                    </p>
                                </div><!-- /.text-comment -->

                                <div class="author">
                                    <i class="ico ico-user"></i>
                                    <strong> Carmen Bortoletto </strong>
                                    <span> 21/01/2019 </span>
                                </div>
                                <!-- /.author -->
                            </li>

                            <li class="col">
                                <div class="comment-star">
                                    <span class="evaluation-star">
                                        <i style="width: 5%;"></i>
                                    </span>
                                </div><!-- /.comment-star-->

                                <div class="text-comment">
                                    <p> Mesa muito bonita, ótimo acabamento. Chegou rápido e muito bem embalada.
                                        Facílima de montar. </p>
                                </div><!-- /.text-comment -->

                                <div class="author">
                                    <i class="ico ico-user"></i>
                                    <strong> Giovana Sassi </strong>
                                    <span> 21/01/2019 </span>
                                </div><!-- /.author -->
                            </li>
                        </ul>
                        <!-- <list-comments></list-comments> -->
                    </div><!-- /.content-comments -->
                </div><!-- /.shell -->
            </div><!-- /.section-comments -->

            <div class="section-instagram">
                <div class="shell">
                    <header class="title">
                        <i class="ico ico-instagram"></i>
                        <h4>Siga-nos</h4>
                        <p>Siga a gente e acompanhe novidades</p>

                        <a href="https://www.instagram.com/woodprime/" target="_blank">
                            Seguir
                        </a>
                    </header><!-- /.title -->

                    <div class="instagram-photos">
                        <instagram></instagram>
                    </div><!-- /.instagram-photos -->
                </div><!-- /.shell -->
            </div><!-- /.section-products-bottom -->

            <div class="section-newsletter">
                <div class="shell">
                    <form class="form-newsletter">
                        <div class="form-row">
                            <h4>Assine nossa newsletter</h4>
                            <p>Receba nossas novidades e lançamentos primeiro.</p>
                        </div><!-- /.form-row -->

                        <div class="form-row">
                            <form-newsletter></form-newsletter>
                        </div><!-- /.form-row -->
                    </form><!-- /.form-newsletter -->
                </div><!-- /.shell -->
            </div><!-- /.section-newsletter -->
        </main><!-- /.main -->

        <footer class="footer">
            <vtex:template id="wood-prime-footer" />
        </footer><!-- /.footer -->
    </div><!-- /.wrapper -->

    <vtex:template id="wood-prime-scripts" />

    <!-- App home js -->
    <script type="text/javascript" src="/arquivos/woodprime-home.min.js"></script>
</body>

</html>