<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <title>Woodprime</title>
    <vtex:template id="0-ah-head" />
</head>

<body id="gift-list">
    <vtex.cmc:productQuickView />
    <div id="app" class="wrapper">

        <!--  SubTemplate: Header -->
        <vtex:template id="0-ah-header" />
        <!--  SubTemplate: Header -->

        <main id="ah-main">
            <div class="ah-container">
                <aside class="ah-aside">
                    <vtex:template id="new-GiftList-Sidebar-nav" />
                    <!--<vtex.cmc:giftListNavigation />-->
                </aside>
                <section class="ah-content-gift-list">
                    <h2>Produtos em sua lista</h2>
                    <!-- Controle: Informações de uma Lista -->
                    <vtex.cmc:GiftListInfoV2 />
                    <!--
                os seguintes parâmtros são permitidos:
                urledit="http://mysite.com/alternatefolder" caminho customizado nos links para a página de edição da lista
                giftcard="true" exibe o saldo do vale compras para uma lista com conversão do valor do produto em vale
                 -->
                    <!-- /Controle: informações de uma Lista -->

                    <!-- Controle: Estatísticas de uma Lista -->
                    <vtex.cmc:GiftListStatisticsV2 />
                    <!-- /Controle: Estatísticas de uma Lista -->

                    <!-- Controle: Produtos de uma Lista -->
                    <vtex.cmc:GiftListProductsV2 />
                    <!--
                os seguintes parâmtros são permitidos:
                size="20" número de produtos exibidos por página. O padrão é 10
                image="3" ID do tipo da imagem do produto exibido. O padrão é 3 (thumb)
                 -->
                    <!-- /Controle: Produtos de uma Lista -->
                </section>
            </div>
        </main>
    </div>
    <vtex:template id="0-ah-footer" />
    <vtex:template id="0-ah-scripts" />
</body>

</html>