<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <title> Loja de Móveis e Decorações Online | Cadeira, Mesas, Criado-Mudo e muito mais. </title>
    <vtex:template id="wood-prime-mobile-head" />
    <vtex:template id="02-woodprime-call" />
    <!-- App account css -->
    <link href="/arquivos/woodprime-mobile-account.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrapper" id="woodprime-app">
        <header class="header">
            <vtex:template id="wood-prime-mobile-header" />
        </header><!-- /.header -->

        <main class="main">
            <div class="section-breadcrumb">
                <ul>
                    <li>
                        <a title="woodprime" href="/">wood prime</a>
                    </li>
                    <li class="last">
                        <a title="minha conta" href="/account">minha conta</a>
                    </li>
                </ul>
            </div><!-- /.section-breadcrumb -->
            <section class="section-content">
                <div class="account-user">
                    <vtex.cmc:accountUserProfile />
                </div><!-- /.account-user -->
                <div class="account-address">
                    <vtex.cmc:accountAddress />
                </div><!-- /.account-address -->
            </section><!-- /.section-content -->

            <div class="section-newsletter">
                <div class="shell">
                    <form class="form-newsletter">
                        <div class="form-row">
                            <h4>Assine nossa newsletter</h4>
                        </div><!-- /.form-row -->

                        <div class="form-row">
                            <form-newsletter></form-newsletter>
                        </div><!-- /.form-row -->
                    </form><!-- /.form-newsletter -->
                </div><!-- /.shell -->
            </div><!-- /.section-newsletter -->
        </main><!-- /.main -->

        <vtex:template id="wood-prime-mobile-footer" />

        <style type="text/css">
            .myo-cancel-btn .no-underline {
                display: none !important;
            }
        </style>

    </div><!-- /.wrapper -->

    <vtex:template id="wood-prime-mobile-scripts" />

    <!-- App account js -->
    <script type="text/javascript" src="/arquivos/woodprime-mobile-account.min.js"></script>
</body>

</html>