<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:template id="wood-prime-head" />
    <link href="/arquivos/woodprime.cms.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrapper" id="woodprime-app">
        <header class="header">
            <vtex:template id="wood-prime-header" />
        </header><!-- /.header -->

        <main class="main">
            <section class="section__body">
                <div class="shell">
                    <div class="cols">
                        <div class="col">
                            <h1> Sua busca <strong></strong> não retornou nenhum resultado =( </h1>
                            <p> Infelizmente sua busca não retornou nenhum resultado. Mas não se preocupe, você pode
                                fazer uma nova busca ou navegar pelos nossos departamentos </p>
                        </div><!-- /.col -->

                        <div class="col">
                            <img src="/arquivos/woodprime-desktop-busca-vazia.png" class="image__empty__search" />
                        </div><!-- /.col -->
                    </div><!-- /.cols -->
                </div><!-- /.shell -->
            </section><!-- /.section__body -->

            <section class="section__banners">
                <div class="shell">
                    <header class="header__title">
                        <h2> Acesses nossos departamentos </h2>
                    </header>

                    <div class="cols">
                        <div class="col">
                            <div class="align__items">
                                <h4> Sala de estar </h4>

                                <a href="/sala-de-estar" class="btn__category">
                                    Sala de estar
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Sala de jantar </h4>

                                <a href="/sala-de-jantar" class="btn__category">
                                    Sala de jantar
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Quarto </h4>

                                <a href="/quarto" class="btn__category">
                                    Quarto
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Escritorio </h4>

                                <a href="/escritorio" class="btn__category">
                                    Escritorio
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Cozinha </h4>

                                <a href="/cozinha" class="btn__category">
                                    Cozinha
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Área externa </h4>

                                <a href="/area-externa" class="btn__category">
                                    Área externa
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Infantil </h4>

                                <a href="/infantil" class="btn__category">
                                    Infantil
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->

                        <div class="col">
                            <div class="align__items">
                                <h4> Banheiro </h4>

                                <a href="/banheiro" class="btn__category">
                                    Banheiro
                                </a><!-- /.btn__category -->
                            </div><!-- /.align__items -->
                        </div><!-- /.col -->
                    </div><!-- /.cols -->
                </div><!-- /.shell -->
            </section><!-- /.section__banners -->

            <section class="section__instagram">
                <div class="shell">
                    <div class="instagram__photos">
                        <instagram-component></instagram-component>
                    </div><!-- /.instagram__photos -->
                </div><!-- /.shell -->
            </section><!-- /.section__instagram -->

            <section class="section-newsletter">
                <div class="shell">
                    <form class="form-newsletter">
                        <div class="form-row">
                            <h4> Assine nossa newsletter </h4>
                            <p> Receba nossas novidades e lançamentos primeiro. </p>
                        </div><!-- /.form-row -->

                        <div class="form-row">
                            <form-newsletter></form-newsletter>
                        </div><!-- /.form-row -->
                    </form><!-- /.form-newsletter -->
                </div><!-- /.shell -->
            </section><!-- /.section-newsletter -->
        </main><!-- /.main -->

        <footer class="footer">
            <vtex:template id="wood-prime-footer" />
        </footer><!-- /.footer -->
    </div><!-- /.wrapper -->

    <vtex:template id="wood-prime-scripts" />
    <script type="text/javascript" src="/arquivos/woodprime.cms.min.js"></script>
</body>

</html>