<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <vtex:template id="00-monali-head" />
</head>
<body>
<div class="wrapper">
    <vtex:template id="00-monali-menu" />

    <div class="wrapper__container">
        <vtex:template id="00-monali-header" />

        <section class="banner banner--full">
            <div data-carousel="one" class="banner__container">
                <vtex:contentPlaceHolder id="bannerHomeFull" />
            </div>
        </section>
        <section class="banner banner--mini">
            <div data-carousel="three" class="banner__container">
                <vtex:contentPlaceHolder id="bannerHomeThree" />
            </div>
        </section>

        <main class="main" id="main"></main>

        <vtex:template id="00-monali-footer" />
        <vtex:template id="00-monali-scripts" />
    </div>
</div>
</body>
</html>
