<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <vtex:template id="00-monali-head" />
</head>
<body>
<div class="wrapper">
    <vtex:template id="00-monali-menu" />

    <div class="wrapper__container">
        <vtex:template id="00-monali-header" />

        <main class="main" id="main">

            <section class="banner banner--full">
                <div data-carousel="one" class="banner__container">
                    <vtex:contentPlaceHolder id="bannerHomeFull" />
                </div>
            </section>

            <section class="banner banner--mini">
                <div data-carousel="three" class="banner__container">
                    <vtex:contentPlaceHolder id="bannerHomeThree" />
                </div>
            </section>

            <div class="showcase">
                <div data-carousel="showcase" class="showcase__container">
                    <vtex:contentPlaceHolder id="bestSellers" />
                </div>
            </div>

            <section class="banner banner--duo">
                <div data-carousel="duo" class="banner__container">
                    <vtex:contentPlaceHolder id="bannerHomeDuo" />
                </div>
            </section>

            <div class="news-rulers">
                <div class="news-rulers__item news">
                    <vtex.cmc:newsletterOptIn/>
                </div>
                <div class="news-rulers__item rulers">
                    <ul class="rulers__list">
                        <vtex.cmc:rulers />
                    </ul>
                </div>
            </div>


            <div class="showcase">
                <div data-carousel="showcase" class="showcase__container">
                    <vtex:contentPlaceHolder id="bestPrices" />
                </div>
            </div>


            <section class="banner banner--duo">
                <div data-carousel="duo" class="banner__container">
                    <vtex:contentPlaceHolder id="bannerHomeDuoSmall" />
                </div>
            </section>


            <div class="showcase">
                <div data-carousel="showcase" class="showcase__container">
                    <vtex:contentPlaceHolder id="showcaseNews" />
                </div>
            </div>

            <div class="kits-gift">
                <div class="kits-gift__container">
                    <div data-component="kits" class="kits">
                        <vtex:contentPlaceHolder id="showcaseKits" />
                    </div>
                    <div data-carousel="gift" class="gift showcase">
                        <vtex:contentPlaceHolder id="showcaseGift" />
                    </div>
                </div>
            </div>

        </main>

        <vtex:template id="00-monali-footer" />
        <vtex:template id="00-monali-scripts" />
        <vtex.cmc:productQuickView/>
    </div>
</div>
</body>
</html>