<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    
    <head>
        <vtex:template id="00-wawcadeiras-head" />
    </head>
    <body id="product-page">
        <div class="wrapper">
            <vtex:template id="00-wawcadeiras-menu" />

            <div class="wrapper__container">
                <vtex:template id="00-wawcadeiras-header" />

                <div class="product__breadcrumb">
                    <div class="breadcrumb">
                        <vtex.cmc:breadCrumb />
                    </div>
                </div>
            
                <main class="main" id="main">
                    <div class="product__container">
                        
                        <div id="produto" class="product__image">
                            <vtex.cmc:ProductImage zoom="on"/>
                            <div class="labels product__labels">
                                <div class="labels-colection" role="group">
                                    <span class="labels-discount">
                                        <vtex.cmc:discountHightLight/>
                                    </span>
                                    <span class="labels-featured">
                                        <vtex.cmc:HightLight/>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="product__info">
                            <h1 class="product__name"><vtex.cmc:productName /></h1>

                            <div class="product__sku-review">
                                <span class="product__code"><vtex.cmc:skuReference/></span>
                                <div class="review review--short">
                                    <vtex.cmc:evaluationRate/><span class="review__star"></span>
                                </div>
                            </div>

                            <div class="product__prices">
                                <!--  Component: Sellers -->
                                <vtex.cmc:SellerOptions />
                        
                                <!--  Component: Price -->
                                <vtex.cmc:skuPrice />

                                <div class="product__description product__description--short">
                                    <div class="description-short"><vtex.cmc:productDescriptionShort /></div>
                                    <button class="product__description-more">+ Ver mais</button>
                                </div>
                            
                                <!--  Component: Sales channels -->
                                <vtex.cmc:SalesChannelDropList />
                            
                                <!--  Component: Addicional services -->
                                <vtex.cmc:stockKeepingUnitService />
                                
                                <div class="buttons buttons--buy">
                                    <div class="buttons__qtys">
                                        <div class="buttons__actions">
                                            <button class="buttons__action buttons__action--less" type="button"></button>
                                            <input class="buttons__input buttons__input--buy" value="1" type="text" />
                                            <button class="buttons__action buttons__action--more" type="button"></button>
                                        </div>
                                    </div>
                                    <vtex.cmc:BuyButton/>
                                </div>
                                
                                <div class="product__shipping">
                                    <vtex.cmc:shippingValue />
                                    <script type="text/javascript">
                                        $(document).ready( function(){
                                            ShippingValue();
                                        });
                                    </script>
                                </div>

                            </div>

                        </div>
                        
                    </div>

                    <div class="product__variations">
                        <vtex.cmc:skuSelection />
                    </div>
                    
                    <div class="buytobether product__buytobether" data-carousel="buytobether">
                        <vtex.cmc:BuyTogether/>
                    </div>
                    
                    <div class="product__description product__description--box">
                        <h2 class="product__title">Descrição do Produto</h2>
                        <h3 class="product__subtitle">Saiba tudo o que precisa sobre este produto</h3>
                        <vtex.cmc:ProductDescription/>
                    </div>
                    
                    <div class="product__review--box">
                        <div class="review product__review">
                            <h2 class="product__title">Avaliações do produto</h2>
                            <h3 class="product__subtitle">Olha o que quem já comprou disse</h3>
                            <vtex.cmc:UserReview/>
                        </div>
                    </div>
                    
                    <div class="showcase">
                        <div data-carousel="showcase" class="showcase__container">
                            <vtex:contentPlaceHolder id="related" />
                        </div>
                    </div>
                    
                </main>
                
            </div>
            
            <vtex:template id="00-wawcadeiras-footer" />
            <vtex:template id="00-wawcadeiras-scripts" />
            <vtex.cmc:productQuickView/>
        </div>
        
    </body>
</html>