<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    
    <head>
        <vtex:template id="00-monali-head" />
    </head>
    
    <body id="product-page">
            
        <main class="main" id="main">
            
            <div class="product__container">
            
                <div class="product__content--left">    
                    
                    <div id="produto" class="product__image">
                        <vtex.cmc:ProductImage zoom="on"/>
                    </div>
                    
                    <h1 class="product__name"><vtex.cmc:productName /></h1>

                    <div class="product__content-inner">
                        
                        <div class="product__review--line">
                            <div class="review review--short">
                                <vtex.cmc:evaluationRate/><span class="review__star"></span>
                            </div>
                            <span class="product__code"><vtex.cmc:skuReference/></span>
                        </div>
                        
                        <div class="labels product__labels">
                            <div class="labels-colection" role="group">
                                <span class="labels-discount">
                                    <vtex.cmc:discountHightLight/>
                                </span>
                                <span class="labels-featured">
                                    <vtex.cmc:HightLight/>
                                </span>
                            </div>
                        </div>
                        
                        <div class="product__description product__description--short">
                            <div class="description-short"><vtex.cmc:productDescriptionShort /></div>
                        </div>
                        
                        <div class="product__variations">
                            <vtex.cmc:skuSelection />
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="product__content--right">
                    <div class="product__fixed">
                    
                        <div class="product__brand">
                            <vtex.cmc:brandName/>
                        </div>
                        
                        <div class="product__price-inner">
                            <!--  Component: Sellers -->
                            <vtex.cmc:SellerOptions />
                    
                            <!--  Component: Price -->
                            <vtex.cmc:skuPrice />
                        
                            <!--  Component: Sales channels -->
                            <vtex.cmc:SalesChannelDropList />
                        
                            <!--  Component: Addicional services -->
                            <vtex.cmc:stockKeepingUnitService />
                            
                            <div class="buttons buttons--buy">
                                <div class="buttons__qtys">
                                    <div class="buttons__actions">
                                        <button class="buttons__action buttons__action--less" type="button"></button>
                                        <input class="buttons__input buttons__input--buy" value="1" type="text" />
                                        <button class="buttons__action buttons__action--more" type="button"></button>
                                    </div>
                                </div>
                                <vtex.cmc:BuyButton/>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <vtex:template id="00-monali-scripts" />
        </main>
    </body>
</html>