<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    
    <head>
        <vtex:template id="00-wawcadeiras-head" />
    </head>
    <body id="product-page">
        <div class="wrapper">

            <div class="wrapper__container">
            
                <main class="main" id="main">
                    <div class="product__container">
                        
                        <div id="produto" class="product__image">
                            <vtex.cmc:ProductImage zoom="on"/>
                            <div class="labels product__labels">
                                <div class="labels-colection" role="group">
                                    <span class="labels-discount">
                                        <vtex.cmc:discountHightLight/>
                                    </span>
                                    <span class="labels-featured">
                                        <vtex.cmc:HightLight/>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="product__info">
                            <h1 class="product__name"><vtex.cmc:productName /></h1>

                            <div class="product__sku-review">
                                <span class="product__code"><vtex.cmc:skuReference/></span>
                                <div class="review review--short">
                                    <vtex.cmc:evaluationRate/><span class="review__star"></span>
                                </div>
                            </div>

                            <div class="product__prices">
                                <!--  Component: Sellers -->
                                <vtex.cmc:SellerOptions />
                        
                                <div class="product__prices" data-component="wholesale-prices"></div>

                                <div class="product__description product__description--short">
                                    <div class="description-short"><vtex.cmc:productDescriptionShort /></div>
                                    <button class="product__description-more">+ Ver mais</button>
                                </div>
                                
                                <div class="product__attrs product__attrs--dimensoes" data-attr="Dimensões"></div>
                                <a href="#vejamaisdetalhes" class="product__link-more">Veja mais detalhes</a>
                                <div class="product__attrs product__attrs--outras-informacoes" data-attr="Outras informações"></div>
                                <a href="#selecioneasvariacoes" class="product__variants">CLIQUE E SELECIONE AS CORES</a>
                            
                                <!--  Component: Sales channels -->
                                <vtex.cmc:SalesChannelDropList />
                            
                                <!--  Component: Addicional services -->
                                <vtex.cmc:stockKeepingUnitService />
                                
                                <button disabled="disabled" type="button" class="product__buy">COMPRAR</button>
                                
                                <div class="product__shipping">
                                    <vtex.cmc:shippingValue />
                                    <script type="text/javascript">
                                        $(document).ready( function(){
                                            ShippingValue();
                                        });
                                    </script>
                                </div>

                            </div>

                        </div>
                        
                    </div>

                    <div class="product__variations" data-component="wholesale"></div>
                    
                </main>
                
            </div>
            
            <vtex:template id="00-wawcadeiras-scripts" />
        </div>
        
    </body>
</html>