<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<vtex:template id="0-ah-head" />

<body id="institutional-page">
    <!--  SubTemplate: Header -->
    <vtex:template id="0-ah-header" />
    <!--  SubTemplate: Header -->
    <main id="ah-main">
        <div class="ah-container">
            <section class="ah-institutional-page">
                <!-- Bloco responsável por carregar o formulário de avaliação -->
                <div id="yv-show-form"
                    style="min-height:300px; background-image:url(//service.yourviews.com.br/static/images/loading.gif);background-repeat:no-repeat">
                    <br /><br />
                    Por favor aguarde...
                </div>
                <!-- Final Yourviews -->
            </section><!-- #main-content -->
        </div>
    </main>
    <vtex:template id="0-ah-footer" />
    <vtex:template id="0-ah-scripts" />
</body>

</html>