<div class="shell"> 
    <header class="header__title">
        <h2> O que dizem sobre nós </h2>
    </header><!-- /.header__title -->

    <div clas="content__comments">
        <ul class="list__comment">
            <li class="col">

                <div class="author">
                    <img src="/arquivos/user.png"/>
                    <strong>Fernanda Martins</strong>
                    <div class="comment-star">
                        <span class="evaluation-star">
                            <i style="width: 5%;"></i>
                        </span>
                    </div><!-- /.comment-star-->
                    <span>05/11/2019</span>
                </div>

                <div class="text-comment">
                    <p>Móvel maravilhoso!!!! Exatamente como na foto. A embalagem bem reforçada. Entrega antes do prazo. Só tenho que agradecer a esta empresa!!!</p>
                </div><!-- /.text-comment -->
                <!-- /.author -->
            </li>
        
            <li class="col">

                <div class="author">
                    <img src="/arquivos/user.png"/>
                    <strong>Fernanda Martins</strong>
                    <div class="comment-star">
                        <span class="evaluation-star">
                            <i style="width: 5%;"></i>
                        </span>
                    </div><!-- /.comment-star-->
                    <span>05/11/2019</span>
                </div>

                <div class="text-comment">
                    <p>Móvel maravilhoso!!!! Exatamente como na foto. A embalagem bem reforçada. Entrega antes do prazo. Só tenho que agradecer a esta empresa!!!</p>
                </div><!-- /.text-comment -->
                <!-- /.author -->
            </li>
        
            <li class="col">

                <div class="author">
                    <img src="/arquivos/user.png"/>
                    <strong>Fernanda Martins</strong>
                    <div class="comment-star">
                        <span class="evaluation-star">
                            <i style="width: 5%;"></i>
                        </span>
                    </div><!-- /.comment-star-->
                    <span>05/11/2019</span>
                </div>

                <div class="text-comment">
                    <p>Móvel maravilhoso!!!! Exatamente como na foto. A embalagem bem reforçada. Entrega antes do prazo. Só tenho que agradecer a esta empresa!!!</p>
                </div><!-- /.text-comment -->
                <!-- /.author -->
            </li>
        </ul><!-- /.list__comment -->
    </div><!-- /.content__comments -->
</div><!-- /.shell -->