.news-rulers
    background: color[2]
    margin-top: 40px
    box-shadow: 100px 0 0 color[2], -100px 0 0 color[2]

    .news-rulers__item.news
        width               : 100%
        { container }
        min-height          : 72px
        display             : flex
        align-items         : center

    .success
        font-size: 14px
        font-weight: regular
        color: #fff 

.newsletter
    width                   : 100%
    text-align              : center
    font-size               : 0
    display                 : flex
    justify-content         : center
    flex-wrap               : wrap

    label
        font-size           : 12px

    #newsletterClientEmail, #newsletterClientName
        width               : 100%
        height              : 40px
        padding-left        : 10px
        max-width           : 263px
        border-radius       : 3px 
        border              : none
        margin-right        : 20px
        background-color    : #ffffff
        font-size           : 15px
        font-weight         : 300
        font-style          : italic
        letter-spacing      : 0.2px
        color               : #beaf8c

        @media(max-width: 768px)
            width 100%
            max-width 100%
            margin-bottom: 5px
            margin-right: 0 

    #newsletterButtonOK
        width               : 88px
        height              : 40px
        border-radius       : 3px
        background-color    : #ffb200
        border              : none 
        font-size           : 11px
        font-weight         : bold
        font-style          : normal
        letter-spacing      : 0.2px
        color               : #ffffff
        appearance          : none
        cursor              : pointer
        vertical-align      : bottom
        transition          : all 150ms ease-in-out

        &:hover
            opacity: 0.8

        @media(max-width: 768px)
            width 100%

    &-title
        font-size           : 14px
        font-weight         : regular

    fieldset

        > p
            margin-bottom   : 10px
            font-size       : 0
            font-weight     : regular
            color           : color[0]

.news-rulers
    .newsletter
        &-title
            font-size           : 0
            display             : flex
            align-items         : center

            @media(max-width: 1170px)
                flex: 0 0 100%
                justify-content: center
                margin-top 15px

            &:after
                content         : 'RECEBA NOSSA NEWSLETTER'
                font-size       : 22px;
                font-weight     : 600
                letter-spacing  : 0.3px
                color           : #ffffff

                @media(max-width: 425px)
                    font-size   : 15px

            &:before
                font-icon       : url('./svg/mail.svg')
                font-size       : 25px
                margin-right    : 5px
                color           : #fff

 
.news-rulers
    display             : flex
    align-items         : center

.newsletter
    position            : relative

    &-title
        display         : inline-block

    fieldset
        display         : inline-block
        width           : calc(100% - 485px)
        margin-left     : 5%

        @media(max-width: 1170px)
            margin: 20px 0!important
            width 100%!important

        > p
            position    : absolute
            bottom      : 0
            left        : 0
            width       : 240px
            
@media (min-width: 992px)
    .news-rulers
        box-shadow: -800px 0 0 color[2], 800px 0 0 color[2]
