.menu

    &--mobile
        position                : fixed
        top                     : 0
        left                    : 0
        z-index                 : 100

        width                   : 100%
        height                  : 100%

        background              : rgba(0, 0, 0, .5)

        transition              : transition[0]

        opacity                 : 0
        visibility              : hidden

        .menu
            &__container
                height          : 100%
                max-width       : 256px
                background      : #fff

                transition      : transition[0]
                transform       : translate3d(-256px, 0, 0)

                .is-menu &
                    transform   : translate3d(0,0,0)

            &__nav
                height          : 100%
                padding-top     : 95px
                overflow-y      : auto


        .is-menu &
            opacity             : 1
            visibility          : visible


    &--hide
        opacity         : 0
        visibility      : hidden

    &__header
        position        : fixed
        top             : 0
        left            : 0

        display         : flex
        flex-flow       : wrap
        width           : 252px
        background      : color[0]

    &__close
        font-size           : 0
        display             : flex
        justify-content     : center
        align-items         : center

        width               : 40px
        height              : 40px

        background          : color[1]

        &:before
            font-icon       : url('./svg/close.svg')
            font-size       : 18px
            color           : #fff

    &__title
        flex            : 1 1 auto
        display         : flex
        justify-content : flex-start
        align-items     : center

        max-width       : calc(100% - 40px)
        height          : 40px
        padding-left    : 15px

        font-size       : 14px
        font-weight     : semi-bold

        text-transform  : uppercase

        color           : #fff

    &__categories
        &:not(.menu__categories--nv0)
            background  : rgba(0,0,0,.03)

    &__link
        &--nv0, &--nv1, &--nv2
            display         : block
            padding         : 5px 15px
            color           : color[1]

        &--nv0
            font-size       : 14px
            font-weight     : regular
            text-transform  : uppercase

        &--nv1, &--nv2
            font-size       : 13px

        &--nv1
            font-weight     : semi-bold

    &__user
        flex                                : 1 1 100%
        background                          : #fff
        border-bottom                       : solid 2px color[0]

        &-list
            display                         : flex

            &-item
                flex                        : 0 0 25%

            &-link
                font-size                   : 0
                display                     : flex
                justify-content             : center
                align-items                 : center

                padding                     : 10px

                color                       : color[1]

                &:before
                    font-size               : 25px

                &--user
                    &:before
                        font-icon           : url('./svg/user.svg')

                &--orders
                    &:before
                        font-icon           : url('./svg/order.svg')

                &--mail
                    &:before
                        font-icon           : url('./svg/mail.svg')

                &--help
                    &:before
                        font-icon           : url('./svg/help.svg')


@media (min-width: 992px)
    .menu
        position                            : fixed
        top                                 : 105px
        z-index                             : 2

        display                             : block
        width                               : 100%
        min-height                          : 0
        max-height                          : 40px

        overflow                            : visible

        transition                          : transition[0]


        .scrolling:not(.scrolling--top) &
            opacity                         : 0
            visibility                      : hidden

        &--hide
            opacity                         : 1
            visibility                      : visible

        &__categories
            display                         : flex
            justify-content                 : space-between
            overflow                        : visible

            &--nv1
                position                    : absolute
                visibility                  : hidden

            &-all
                &--inner
                    position                : absolute
                    visibility              : hidden

        &__categories-all__name
            padding                         : 5px 15px

            font-size                       : 12px
            font-weight                     : regular

            text-transform                  : uppercase

            color                           : #909090