.menu

    .banner, .menu-banner-link
        display                 : none

    &--mobile
        position                : fixed
        top                     : 0
        left                    : 0
        z-index                 : 100

        width                   : 100%
        height                  : 100%

        background              : rgba(0, 0, 0, .5)

        transition              : transition[0]

        opacity                 : 0
        visibility              : hidden

        //[aria-expanded]
        //    position            : relative
        //
        //    &:after
        //        content         : ''
        //
        //        position        : absolute
        //        top             : 0
        //        right           : 0
        //        z-index         : 10
        //
        //        width           : 28px
        //        height          : 28px
        //
        //        background      : rgba(0,0,0,.5)


        .menu
            &__container
                height          : 100%
                max-width       : 256px
                background      : #fff

                transition      : transition[0]
                transform       : translate3d(-256px, 0, 0)

                .is-menu &
                    transform   : translate3d(0,0,0)

            &__nav
                height          : 100%
                padding-top     : 95px
                overflow-y      : auto


        .is-menu &
            opacity             : 1
            visibility          : visible


    &--hide
        opacity         : 0
        visibility      : hidden

    &__header
        position        : fixed
        top             : 0
        left            : 0
        z-index         : 100

        display         : flex
        flex-flow       : wrap
        width           : 252px
        background      : color[0]

    &__close
        font-size           : 0
        display             : flex
        justify-content     : center
        align-items         : center

        width               : 40px
        height              : 40px

        border              : 0

        background          : color[1]

        &:before
            font-icon       : url('./svg/close.svg')
            font-size       : 18px
            color           : #fff

    &__title
        flex            : 1 1 auto
        display         : flex
        justify-content : flex-start
        align-items     : center

        max-width       : calc(100% - 40px)
        height          : 40px
        padding-left    : 15px

        font-size       : 14px
        font-weight     : semi-bold

        text-transform  : uppercase

        color           : #fff

    &__categories
        &:not(.menu__categories--nv0)
            background  : rgba(0,0,0,.03)

    &__link
        &--nv0, &--nv1, &--nv2
            display                : block

            color                  : color[1]
            padding                : 5px 15px

            &:hover
                text-decoration    : none

        &--nv0
            font-size              : 14px
            font-weight            : regular
            text-transform         : uppercase

        &--nv1, &--nv2
            font-size              : 13px

        &--nv1
            font-weight            : semi-bold

    &__user
        flex                                : 1 1 100%
        background                          : #fff
        border-bottom                       : solid 2px color[0]

        &-list
            display                         : flex

            &-item
                flex                        : 0 0 25%

            &-link
                font-size                   : 0
                display                     : flex
                justify-content             : center
                align-items                 : center

                padding                     : 10px

                color                       : color[1]

                &:before
                    font-size               : 25px

                &--user
                    &:before
                        font-icon           : url('./svg/user.svg')

                &--orders
                    &:before
                        font-icon           : url('./svg/order.svg')

                &--mail
                    &:before
                        font-icon           : url('./svg/mail.svg')

                &--help
                    &:before
                        font-icon           : url('./svg/help.svg')

.menu__categories--nv2
    display: none !important
    
@media only screen and (min-width: 992px)
    .menu__container
        { container }

        border-top                          : solid 1px #fff

    .menu
        position                            : fixed
        top                                 : 115px
        z-index                             : 2

        display                             : block
        width                               : 100%
        min-height                          : 0
        max-height                          : 41px

        overflow                            : visible

        transition                          : transition[0]

        background                          : bg[0]

        .scrolling &
            transform                       : translate3d(0, -50px, 0)


        .scrolling:not(.scrolling--top) &
            opacity                         : 0
            visibility                      : hidden

            transform                       : translate3d(0, -90px, 0)

        &__nav
            position                        : relative

        &--hide
            opacity                         : 1
            visibility                      : visible

        &__categories
            display                         : flex
            justify-content                 : space-between
            overflow                        : visible

            .banner
                display                     : inline-block
                width                       : 350px
                margin-left                 : 10px

            .menu__link--nv1, .menu__link--nv2
                line-height                 : 1.3

            &:not(.menu__categories--nv0)
                background                  : #fff

            &--nv1
                position                    : absolute

                display                     : block

                padding                     : 10px
                border                      : solid 1px #E9E9E9
                border-radius               : 3px

                white-space                 : nowrap

                font-size                   : 0

                background                  : #fff

                visibility                  : hidden
                opacity                     : 0

                transition                  : transition[0]

                > .menu__sub-inner
                    display                     : inline-block
                    height                      : 220px
                    max-height                  : calc(100vh - 200px)

                    white-space                 : normal

                    overflow-y                  : auto

                    .banner
                        display                 : none

                    > .menu__list
                        column-count            : 2
                        width                   : 280px
                        padding                 : 5px 0


                        > .menu__item
                            padding             : 5px 10px


            &-all
                &--nv0
                    column-count            : 5


                .menu__item--has-child
                    &:not(.menu__item--nv0)
                        margin: 10px 0 0 0

                &--nv2
                    margin: 0 0 10px 0
                    display: block

                &__name
                    position                : relative
                    cursor                  : pointer

                    &:after
                        content             : ''
                        position            : absolute
                        top                 : 100%
                        right               : 0
                        z-index             : 2

                        width               : 100%
                        height              : 1px

                        max-width           : 0

                        background          : color[0]

                        transition          : transition[0]


                &--inner
                    position                : absolute
                    right                   : 0

                    width                   : 100%
                    height                  : calc(100vh - 200px)
                    border                  : solid 1px #E9E9E9
                    border-radius           : 3px
                    padding                 : 10px

                    transition              : transition[0]

                    background              : #fff

                    visibility              : hidden
                    opacity                 : 0

                    overflow-y              : auto


                .menu__item--nv0
                    break-inside            : avoid

                    > a:before
                        display             : none


                .menu & .menu__link--nv0
                    justify-content         : flex-start
                    height                  : auto

                &:hover
                    .menu__categories-all__name:after
                        max-width           : 100%


                    .menu__categories-all--inner
                        visibility          : visible
                        opacity             : 1

        &__item
            &--nv0

                > a
                    position                    : relative

                    &:before
                        content                 : ''

                        position                : absolute
                        top                     : 100%
                        left                    : 0
                        z-index                 : 2

                        width                   : 100%
                        height                  : 1px

                        max-width               : 0

                        background              : color[0]

                        transition              : transition[0]


                &:hover
                    > a
                        &:before
                            max-width       : 100%

                    .menu__categories--nv1
                        visibility          : visible
                        opacity             : 1

        .menu__link--nv0
            display                         : flex
            justify-content                 : center
            align-items                     : center
            height                          : 40px

        &__item
            &--nv0
                padding                     : 0 15px

        &__link
            &--nv0, &--nv1, &--nv2
                padding                     : 0

            &--nv1, &--nv2
                border-bottom               : solid 1px transparent

                &:hover
                    border-bottom           : solid 1px color[0]

        &__categories-all__name
            display                         : flex
            justify-content                 : center
            align-items                     : center

            height                          : 40px
            padding                         : 5px 15px

            font-size                       : 12px
            font-weight                     : regular

            text-transform                  : uppercase

            color                           : #909090

        // Ajuste last
        &__item--nv0
            position                        : relative

            &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4)
                .banner
                    margin-left             : 0
                    margin-right            : 10px

                .menu__categories--nv1
                    direction               : rtl

                    left                    : auto
                    right                   : 15px

                    .menu__sub-inner
                        direction           : ltr
