.slick
    &-arrow
        width               : 25px
        height              : 45px
        border              : 0
        border-radius       : 3px
        cursor              : pointer      
        font-size           : 0
        position            : absolute
        background          : transparent
        color               : color[0]

        &:before
            font-size       : 28px

    &-prev
        left                    : 0
        &:before
            font-icon           : url('./svg/prev.svg')

    &-next
        right                   : 0
        &:before
            font-icon           : url('./svg/next.svg')
        

    &-dots
        display             : block
        margin-bottom       : 50px
        font-size           : 0

        text-align          : center

        li
            display         : inline-block

        button
            width           : 10px
            height          : 10px
            padding         : 0
            border          : 0
            border-radius   : 50%
            font-size       : 0
            background      : #E9E9E9
            margin          : 0 6px

        .slick-active
            button
                width       : 15px
                height      : 15px
                background  : color[0]

[data-carousel]
    position                : relative

    .slick
        &-arrow
            position        : absolute
            top             : 50%
            z-index         : 50
            transform       : translateY(-50%)
            transition      : transition[0]

        &-prev
            left            : 0

        &-next
            right           : 0

[data-carousel=three]
    .slick
        &-prev
            left            : 0

        &-next
            right           : 0

[data-carousel=one]
    .slick-dots
        position            : relative
        z-index             : 10px
        margin-top          : -50px


 