#TB_overlay {
    background: rgba(0,0,0,.5);
}
#TB_window {
    background: #fff;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    width: 1200px!important;
    height: 600px;
    max-width: 90vw;
    max-height: 90vh;
}

#TB_window iframe {
    width: 100% !important;
    height: calc(100% - 50px) !important;
    overflow: auto;
}

#TB_closeWindowButton {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS45IDIxLjkiPjxwYXRoIGQ9Ik0xNC4xLDExLjNhLjQ4LjQ4LDAsMCwxLDAtLjdsNy41LTcuNWExLjA4LDEuMDgsMCwwLDAsLjMtLjcsMS4wOCwxLjA4LDAsMCwwLS4zLS43TDIwLjIuM2ExLjA4LDEuMDgsMCwwLDAtLjctLjMuOTEuOTEsMCwwLDAtLjcuM0wxMS4zLDcuOGEuNDguNDgsMCwwLDEtLjcsMEwzLjEuM0ExLjA4LDEuMDgsMCwwLDAsMi40LDBhMS4wOCwxLjA4LDAsMCwwLS43LjNMLjMsMS43YTEuMDgsMS4wOCwwLDAsMC0uMy43LDEuMDgsMS4wOCwwLDAsMCwuMy43bDcuNSw3LjVhLjQ4LjQ4LDAsMCwxLDAsLjdMLjMsMTguOGExLDEsMCwwLDAsMCwxLjRsMS40LDEuNGExLjA4LDEuMDgsMCwwLDAsLjcuMywxLjA4LDEuMDgsMCwwLDAsLjctLjNsNy41LTcuNWEuNDguNDgsMCwwLDEsLjcsMGw3LjUsNy41YTEsMSwwLDAsMCwxLjQsMGwxLjQtMS40YTEsMSwwLDAsMCwwLTEuNFoiLz48L3N2Zz4=");
    background-size: 100% 100%;
    display: block;
    width: 22px;
    height: 22px;
    font-size:0;
}

#TB_closeAjaxWindow {
    position: absolute;
    top: 10px;
    right: 10px;    
}

#TB_load {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
