#TB_overlay {
    background: rgba(0,0,0,.5);
}
#TB_window {
    background: #fff;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    width: 1200px!important;
    height: 600px;
    max-width: 90vw;
    max-height: 90vh;
}

#TB_window iframe {
    width: 100% !important;
    height: 100% !important;
}

#TB_closeWindowButton {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS45IDIxLjkiPjxwYXRoIGQ9Ik0xNC4xLDExLjNhLjQ4LjQ4LDAsMCwxLDAtLjdsNy41LTcuNWExLjA4LDEuMDgsMCwwLDAsLjMtLjcsMS4wOCwxLjA4LDAsMCwwLS4zLS43TDIwLjIuM2ExLjA4LDEuMDgsMCwwLDAtLjctLjMuOTEuOTEsMCwwLDAtLjcuM0wxMS4zLDcuOGEuNDguNDgsMCwwLDEtLjcsMEwzLjEuM0ExLjA4LDEuMDgsMCwwLDAsMi40LDBhMS4wOCwxLjA4LDAsMCwwLS43LjNMLjMsMS43YTEuMDgsMS4wOCwwLDAsMC0uMy43LDEuMDgsMS4wOCwwLDAsMCwuMy43bDcuNSw3LjVhLjQ4LjQ4LDAsMCwxLDAsLjdMLjMsMTguOGExLDEsMCwwLDAsMCwxLjRsMS40LDEuNGExLjA4LDEuMDgsMCwwLDAsLjcuMywxLjA4LDEuMDgsMCwwLDAsLjctLjNsNy41LTcuNWEuNDguNDgsMCwwLDEsLjcsMGw3LjUsNy41YTEsMSwwLDAsMCwxLjQsMGwxLjQtMS40YTEsMSwwLDAsMCwwLTEuNFoiLz48L3N2Zz4=");
    background-size: 100% 100%;
    display: block;
    width: 22px;
    height: 22px;
    font-size:0;
}