#TB_overlay {
    background: rgba(255,178,0,.9);
}
#TB_window {
    background: #fff;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    width: 1200px!important;
    height: 600px;
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 0 10px rgba(0,0,0,.05)
}

#TB_ajaxWindowTitle {
    display: none;
}

#TB_window iframe {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
}

#TB_closeAjaxWindow
    padding: 0!important

#TB_closeWindowButton
    display: flex
    justify-content: center 
    align-items: center
    width: 45px;
    height: 45px;
    font-size:0;
    position: absolute;
    top: 0
    right: 0
    background: #fff;
    text-decoration: none;
    
    &:before 
        font-icon       : url('./svg/close.svg')
        font-size       : 15px 
        color           : #BEAF8C



#TB_load {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -80px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
