.qtds
    display: flex 
    width: 125px
    max-width: 125px
    background: color[0]
    margin-right: 5px
    border-radius: 3px
    &__button 
        flex: 0 0 45px
        max-width: 45px
        padding: 0
        display: flex 
        justify-content: center 
        align-items: center 
        width: 45px 
        height: 45px 
        border: 0
        background: none 
        font-size: 24px
        font-weight: semi-bold
        color: #fff 
        cursor: pointer
    &__input 
        background: none 
        flex: 1
        height: 45px 
        width: 30px
        text-align: center 
        border: 0
        min-width: 0
        font-size: 16px
        font-weight: semi-bold
        color: #fff
