.breadcrumb
    { container }
    a 
        font-size               : 12px 
        font-weight             : 400
        color                   : #8B8A8A
    ul 
        display                 : flex 
        justify-content         : flex-start 
        align-items             : center 
        margin                  : 10px -2px 
    li 
        padding                 : 2px 
        &:not(:last-child):after 
            content             : '/'
            font-size           : 10px 
            color               : #8B8A8A
            display             : inline-block 
            margin              : 0 0 0 5px
        &:first-child 
            a 
                font-size       : 0 
                &:before 
                    content     : 'Você está em'
                    font-size   : 12px 
        &.last 
            a 
                color           : color[0]