.breadcrumb
    { container }
    a 
        font-size               : 12px 
        font-weight             : regular 
        color                   : #434343
    ul 
        display                 : flex 
        justify-content         : flex-start 
        align-items             : center 
        margin                  : 10px -2px 
    li 
        padding                 : 2px 
        &:not(:last-child):after 
            content             : ''
            font-icon           : url('./svg/next.svg')
            font-size           : 10px 
            color               : #FF7000
            display             : inline-block 
            margin              : 0 0 0 5px
        &:first-child 
            a 
                font-size       : 0 
                &:before 
                    content     : 'Home'
                    font-size   : 12px 