button.buy-button svg 
    display: none

.buyqtd 
    display: none

@media(min-width 991px)
    .product-right, .product-left
        width: 50%

.search_new
    .main
        .sub, .searchResultsTime
            display: none

    .shelf ul 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 30px 0

        li
            width 33%
            padding: 0
            margin-bottom 20px

            > .product
                width 100%

    .pager.top
        display: none

    .pager.bottom
        display: flex
        justify-content: center

    ul.pages 
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 200px
        width 100%
        flex-wrap: wrap

        li
            padding: 0
            background: #fff;
            border: none;
            padding: 0;
            background: #fff;
            border: none;
            padding: 5px 12px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: #247471;
            font-weight: 700;
            transition: all 0.3s;
            box-shadow: 0 4px 40px -15px rgba(0,0,0,0.61);
            border: 1px solid;

            &:hover
                background: #247471
                color: #fff

        li.first.pgEmpty, li.previous.pgEmpty, .next, .last
            display: none

.hotsite-customize
    font-family: 'Montserrat'
    bottom.product-quickview
        display: none

    h4.product-name a
        color: #666;
        line-height: 1.5;
        font-weight: 300;
        height: 40px;
        display: block;
        margin: 10px 0 15px;
        overflow: hidden;
        font-size: 14px;

    .product-content
        display: block;
        color: #aaa;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .1px;

        > strong
            display: block;
            color: #247471;
            font-size: 20px;
            font-weight: 700;

        > small
            display: block;
            color: #666;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 3px;

    .product-btn 
        margin-top: 22px;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        -moz-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 0;
        visibility: hidden;

    .product:hover .product-btn, .section-products .shelf .product:hover .product-image .product-quickview 
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        
    .product .product-tags .flag.flag-percent 
        background-color: #f74f5f
        width: 72px

    .product .product-tags .flag 
        background-color: #247471
        border-radius: 3px
        font-size: 11px
        display: block
        text-align: center
        font-weight: 600
        padding: 4px 10px
        color: #fff
        margin-bottom: 8px

    .product .product-tags 
        position: absolute
        z-index: 99

    .product .product-btn .product-link:hover 
        background: #f74f5f;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        -moz-transition: background .3s;
        transition: background .3s;

    .product .product-btn .product-link 
        width: 100%;
        background: #247471;
        padding: 13px 0;
        display: block;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-weight: 500;

    .product:hover 
        border: 1px solid #e6e6e6;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

    .product 
        width: 280px;
        border: 1px solid #fff;
        position: relative;
        padding: 10px;
        font-family: Montserrat,sans-serif;
        color: #666;
        font-size: 14px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        margin: 30px 0

    main#ah-main 
        padding-top: 190px

.section-breadcrumbs ul li > a
    color: #888888