button.buy-button svg 
    display: none

.buyqtd 
    display: none

@media(min-width 991px)
    .product-right, .product-left
        width: 50%

.search_new
    .main
        .sub, .searchResultsTime
            display: none

    .shelf ul 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 30px 0

        li
            width 33%
            padding: 0
            margin-bottom 20px

            > .product
                width 100%

    .pager.top
        display: none

    .pager.bottom
        display: flex
        justify-content: center

    ul.pages 
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 200px
        width 100%
        flex-wrap: wrap

        li
            padding: 0
            background: #fff;
            border: none;
            padding: 0;
            background: #fff;
            border: none;
            padding: 5px 12px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: #247471;
            font-weight: 700;
            transition: all 0.3s;
            box-shadow: 0 4px 40px -15px rgba(0,0,0,0.61);
            border: 1px solid;

            &:hover
                background: #247471
                color: #fff

        li.first.pgEmpty, li.previous.pgEmpty, .next, .last
            display: none