button.buy-button svg 
    display: none

.buyqtd 
    display: none

@media(min-width 991px)
    .product-right, .product-left
        width: 50%

.search_new
    .main
        .sub, .searchResultsTime
            display: none

    .shelf ul 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 30px 0

        li
            width 33%
            padding: 0
            margin-bottom 20px

            > .product
                width 100%

    .pager.top
        display: none

    .pager.bottom
        display: flex
        justify-content: center

    ul.pages 
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 200px
        width 100%
        flex-wrap: wrap

        li
            padding: 0
            background: #fff;
            border: none;
            padding: 0;
            background: #fff;
            border: none;
            padding: 5px 12px;
            border-radius: 3px;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: #247471;
            font-weight: 700;
            transition: all 0.3s;
            box-shadow: 0 4px 40px -15px rgba(0,0,0,0.61);
            border: 1px solid;

            &:hover
                background: #247471
                color: #fff

        li.first.pgEmpty, li.previous.pgEmpty, .next, .last
            display: none

.hotsite-customize
    font-family: 'Montserrat'
    bottom.product-quickview
        display: none

    h4.product-name a
        color: #666;
        line-height: 1.5;
        font-weight: 300;
        height: 40px;
        display: block;
        margin: 10px 0 15px;
        overflow: hidden;
        font-size: 14px;

    .product-content
        display: block;
        color: #aaa;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .1px;

        > strong
            display: block;
            color: #247471;
            font-size: 20px;
            font-weight: 700;

        > small
            display: block;
            color: #666;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 3px;

    .product-btn 
        margin-top: 22px;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        -moz-transition: opacity .3s;
        transition: opacity .3s;
        opacity: 0;
        visibility: hidden;

    .product:hover .product-btn, .section-products .shelf .product:hover .product-image .product-quickview 
        opacity: 1;
        visibility: visible;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        
    .product .product-tags .flag.flag-percent 
        background-color: #f74f5f
        width: 72px

    .product .product-tags .flag 
        background-color: #247471
        border-radius: 3px
        font-size: 11px
        display: block
        text-align: center
        font-weight: 600
        padding: 4px 10px
        color: #fff
        margin-bottom: 8px

    .product .product-tags 
        position: absolute
        z-index: 99

    .product .product-btn .product-link:hover 
        background: #f74f5f;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        -moz-transition: background .3s;
        transition: background .3s;

    .product .product-btn .product-link 
        width: 100%;
        background: #247471;
        padding: 13px 0;
        display: block;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-weight: 500;

    .product:hover 
        border: 1px solid #e6e6e6;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

    .product 
        width: 280px;
        border: 1px solid #fff;
        position: relative;
        padding: 10px;
        font-family: Montserrat,sans-serif;
        color: #666;
        font-size: 14px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        margin: 30px 0

    main#ah-main 
        padding-top: 190px

.section-breadcrumbs ul li > a
    color: #888888

@media(min-width: 992px)
    .section__body .section__content
        width 75%

    .section__body .section__content .section__products .shelf .product
        width 33%

    .section-products .shelf .product .product-image
        text-align: center

    .section__body .section__aside
        width 25%

.section-products .shelf  .product
    .product-quickview 
        background: #247471!important

.section-products .shelf .product .product-content .product-name a
    font-weight: 700
    text-align: left

    &:hover
        color: #247471
 
 .product-content > small 
  display: none!important

.section-products .shelf .product .product-content del
    text-align: left

.price__infos 
    display: flex
    align-items: center

    .info__price 
        font-weight: 600
        margin-left: 5px
        color: #666
        font-size: 14px

        @media(max-width: 320px)
            font-size: 9px
            
.section-products .shelf .product .product-btn 
    opacity: 1!important
    visibility: visible!important
    margin: 0
    position absolute
    right: 0
    bottom: 10px

    .product-link
        font-size: 0
        background-color: transparent
        background-repeat: no-repeat
        background-position: center
        padding: 0
        height 40px
        width 40px
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAASCAMAAAC3taQAAAAAKlBMVEUAAAAjc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3FMBpnfAAAADnRSTlMAEK+fUO//YM8woPDQsFxtbKYAAABFSURBVHjahc8xDsAwCENRSIlpkub+120WBJYq9W9vs+UnbVfCOtA05DjdzD6YRoQzJSLNUMILllWMgkdj5wK25oc95asX9b0COXcHGYoAAAAASUVORK5CYII=')
        
        &:hover
            opacity .7
            background-color: transparent
            background-repeat: no-repeat
            background-position: center
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAASCAMAAAC3taQAAAAAKlBMVEUAAAAjc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3Ejc3FMBpnfAAAADnRSTlMAEK+fUO//YM8woPDQsFxtbKYAAABFSURBVHjahc8xDsAwCENRSIlpkub+120WBJYq9W9vs+UnbVfCOtA05DjdzD6YRoQzJSLNUMILllWMgkdj5wK25oc95asX9b0COXcHGYoAAAAASUVORK5CYII=')

.section-products .shelf .product .product-tags .flag.flag-percent 
    background-color: #b13713
    width: 45px
    height: 45px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    font-weight: 700
    min-width: 45px

.section-products .shelf .product .product-content 
    text-align: center
    font-family: 'Open Sans'

.section-products .shelf .product .product-content del 
    text-align: left
    display: block
    color: #aaa
    font-size: 14px
    font-weight: 400
    letter-spacing: .1px
 
.category .section-products  .shelf .product .product-content > strong
    display: none!important

@media(min-width 992px)
    .departament .section-products  .shelf .product .product-content > strong
        display: none!important
 
.home .section-products  .shelf .product .product-content > strong
    display: none!important

.especial__category .section-products  .shelf .product .product-content > strong
    display: block!important
 
 
    
 
.shelf .product .product-content > strong
    text-align: left
 
.section-products .shelf .product .product-content > small:last-child  
    display: block!important
    font-size: 0
    text-align: left
    strong
        color: #247471
        font-size: 20px
        font-weight: 700

.modal-mask
    z-index 9999999

iframe#launcher 
    bottom: 10%!important
    top: auto

.section-products .shelf .product .product-content
    .yv-review-quickreview 
        text-align: left
    
.section-pit-bar .col-1of3
    padding: 0
    
@media(max-width: 991px)
    .section-products .shell .main 
        padding: 0
        
    .product
        .product-tags
            p.flag.personalizavel, p.flag.exclusivo
                display: none!important

.blackfriday__on
    .section-pit-bar
        margin-top: 163px

    .slider
        #demo 
            position: absolute
            top: 100%
            z-index: 99
            left: 50%
            transform: translateX(-50%)
            font-size: 101px
            color: #ad2e42
            text-transform: uppercase
            font-family: 'Montserrat'
            font-weight: 700
            background: #000
            width: 100%
            text-align: center
            padding: 10px 0

            @media(max-width: 991px)
                font-size: 30px

                strong
                    &:before
                        display: none

            .dias
                position relative 

                &:before
                    content: 'dias'
                    position absolute
                    color: #ad2e42
                    font-size: 15px
                    text-transform: none
                    bottom: 0
                    left 12% 
            .horas
                position relative 

                &:before
                    content: 'horas'
                    position absolute
                    color: #ad2e42
                    font-size: 15px
                    text-transform: none
                    bottom: 0
                    left 17% 
            .minutos
                position relative 

                &:before
                    content: 'minutos'
                    position absolute
                    color: #ad2e42
                    font-size: 15px
                    text-transform: none
                    bottom: 0
                    left 20% 

            .segundos
                position relative 
                font-size: 24px
    

            &:before
                content: 'as ofertas expiram em'
                font-size: 15px
                display: block
                color: #fff

    .section__blackfriday 

        .banners__slick
            .box-banner 
                img
                    width auto
                    max-width 100%

    .section-newsletter, .header .bar, .section__counter .cols .col-counter
        background: #000

    
.section-products .shelf .owl-dots
    margin: 15px 0

.section__instafeed
    h2
        font-family: Montserrat,sans-serif
        color: #b09b73
        font-weight: 300
        font-size: 30px
        text-align: center
        margin: 40px 0
        position: relative

        &:after 
            margin-left: 22px
        
        &:before 
            margin-left: -110px

        &:before, &:after
            content: ""
            width: 90px
            height: 1px
            top: 20px
            background: #b09b73
            position: absolute

@media(max-width: 991px)
    .search-result .section-products .shelf .product .product-content>small
        display: none!important

.instafeed__list
    display: flex
    flex-wrap: wrap
    margin-bottom 30px
    
    .instafeed__item
        flex: 0 0 16.6666% 
        overflow hidden
        max-height: 200px

        @media(max-width: 1200px)
            max-height: 150px

        @media(max-width: 991px)
            flex: 0 0 33.3333%
            max-height: 200px

       

        @media(max-width: 425px)
            max-height: 150px
            flex: 0 0 50%

        img
            max-width: 140%
            position: relative
            left: 50%
            transform: translateX(-50%)
            display: block
            top: 50%
 