.social
    img
        max-width       : 23px

    &__list
        display         : flex
        justify-content : flex-start
        align-items     : center

        margin          : -3px

    &__item
        margin          : 3px