.social
    img
        max-width               : 23px

    &__list
        display                 : flex
        justify-content         : flex-start
        align-items             : center

        margin                  : -3px

    &__item
        margin                  : 3px

    &--center
        .social__list
            justify-content     : center


@media screen and (max-width: 991px)
    .social
        &--center
            .social__list
                justify-content : flex-start



@media screen and (min-width: 992px)
    .footer .social--center
        .social__list
            justify-content : flex-start

