@media (min-width: 992px)
    .category
        &__showcase
            .main
                display             : flex
                flex-wrap           : wrap

            .vitrine
                flex                : 0 0 100%
