@media (max-width: 991px)
    .resultado-busca-filtro .orderBy
        margin: 15px 0 

.department
    #main__container 
        max-width: 1320px
        width: 100% 
        margin: 0 auto
    
.tags__filter
    display: flex
    align-items: center
    justify-content: space-between
    margin-top 30px
    padding-top 30px
    border-top: 1px solid #EDEDED

    .tags__filter-title
        font-size: 13px
        color: #453F3F
        font-weight: 500
        display: block
        margin-right 30px

    .tags__filter-list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
        max-width 900px
        width 100%

        li
            background: #F3ECF2
            border-radius: 7px
            padding: 5px 

            &:hover
                background-image    : linear-gradient(90deg, #BA69C8 0%, #F48FB1 100%)

                a
                    color: #fff 
                    display: block

            a
                font-size: 13px
                color: #333333 

                &:hover
                    text-decoration: none 
                    