.wrapper
    width                   : 100%

    padding-top             : 157px


#vtexIdContainer
    position            : fixed !important 

@media (min-width: 992px)
    .wrapper
        padding-top         : 157px