// .header
// #menu
// #minicart
//     display: none !important

.product 

    &__container
        @extend $container
        display: flex
        align-items: flex-start

    &__content--left
        display: grid
        grid-template-areas: "foto breadcrumb" "foto name" "foto content"
        grid-template-rows: 40px 65px auto;
        max-width: calc(100% - 205px);
        grid-template-columns: 442px auto;
        width: 100%

    &__content--right
        width: 205px

    &__image 
        grid-area: foto
        max-width: 442px
        min-width: 442px

    &__breadcrumb 
        grid-area: breadcrumb
        width: 100%
        

    &__name  
        grid-area: name
        min-height: 55px
        font-size: 24px
        line-height: 24px
        font-weight: 300
        color: color[1]

    &__content-inner
        grid-area: content

    // &__reviews 
    //     grid-area: reviews

    // &__label
    //     grid-area: label

    // &__description--short
    //     grid-area: short

    // &__variations
    //     grid-area: variation

    // &__shipping
    //     grid-area: shipping