.thumbs
    position                : absolute 
    top                     : 0 
    left                    : 0
    margin                  : -5px
    width                   : 70px
    
    li 
        padding             : 5px 

    a 
        display             : block
        border              : solid 1px transparent  
        border-radius       : 3px
        &.ON 
            border-color        : #FF7000

.product
    &__image
        position    : relative
        min-height  : 425px
    &__labels 
        position    : absolute 
        top         : 0 
        right       : 0
    &__sku-review 
        display             : flex 
        justify-content     : space-between
        align-items         : center  
        margin              : 0 -10px
        .review 
            padding         : 10px 
    &__code
        visibility          : hidden 
        font-size           : 14px
        font-weight         : regular 
        color               : #888888
        text-transform      : uppercase
        padding             : 10px 
        &--show 
            visibility      : visible    
    &__description 
        &-more 
            display         : none 
        .description-short
            margin          : 0 -10px 
        .productDescriptionShort
            font-size       : 13px 
            font-weight     : regular 
            color           : #434343
            padding         : 10px 
    &__name 
        font-size   : 17px
        font-weight : regular 
        color       : #888888
        line-height : 1.2
    &__info 
        .buttons--buy
            display : none 

@media (min-width: 992px)
    .product 
        &__container 
            display             : flex 
        &__image, &__info 
            padding             : 15px