/**
 * VTex Local - Variaveis
 */

// ----- Config ----- //

// Color
color         = #BA69C8 #453F3F #f38eb1
bg            = rgba(255,255,255, .85)

// Fonts
family        = unquote("'Rubik', sans-serif")

light         = 400 //300
regular       = 500 //400
medium        = 600 //500
semi-bold     = 700 //600
bold          = 800 //700

// Animations
transition    = unquote("all .2s ease-in-out")

// Global
viewport      = 1300px