/**
 * VTex Local - Variaveis
 */

// ----- Config ----- //

// Color
color         = #FFB200 #434343 #FF7000
bg            = rgba(255,255,255, .85)

// Fonts
family        = unquote("'Montserrat', sans-serif")

light         = 300
regular       = 400
medium        = 500
semi-bold     = 600
bold          = 700

// Animations
transition    = unquote("all .2s ease-in-out")

// Global

viewport      = 1170px