.header
    position            : fixed
    top                 : 0
    left                : 0
    z-index             : 100

    width               : 100%

    transition          : transition[0]

    &__head-nav
        display         : none

    &__container
        @extend         $container

        z-index         : 100

        display         : flex
        justify-content : space-between
        align-items     : center

        height          : 90px


        &--menu
            padding     : 0

 

            .scrolling:not(.scrolling--top) &
                opacity     : 1
                visibility  : visible

        .scrolling &
            transform       : translate3d(-50%, -50px, 0)

    .scrolling &
        min-height          : 66px

    &__logo, &__button-menu, &__cart, &__head-nav
        position        : relative
        z-index         : 30

    &__button-menu
        z-index         : 40

    &__logo
        flex            : 1 1 auto
        
        display         : flex
        justify-content : center
        align-items     : center

        max-width       : 138px

 

   

    &__search
        position        : absolute
        top             : 100%
        left            : 0
        z-index         : 10

        width           : 100%

        transition      : transition[0]

        .scrolling:not(.scrolling--top) &
            transform   : translate3d(0, -100%, 0)
            opacity     : 0
            visibility  : hidden

@media (min-width: 992px)
    .header
        &__search
            position    : relative
            top         : auto
            left        : auto

            z-index     : 30

            max-width   : 360px
            margin-right: 30px


            .scrolling:not(.scrolling--top) &
                transform   : none
                opacity     : 1
                visibility  : visible

        &__logo
            justify-content : flex-start

        &__head-nav
            display         : block

        &__menu
            position    : absolute
            top         : 100%
            left        : 0

            width       : 100%

            transition  : transition[0]

            .scrolling:not(.scrolling--top) &
                transform   : translate3d(0, -100%, 0)
                opacity     : 0
                visibility  : hidden

        &__button-menu
            display         : none