.sidebar
    &__container
        position            : fixed
        top                 : 0
        left                : 0
        z-index             : 100

        width               : 100%
        height              : 100%

        background          : rgba(0,0,0,.5)
        transition          : transition[0]

        opacity             : 0
        visibility          : hidden

        .sidebar--open &
            opacity         : 1
            visibility      : visible

    &__header, &__main
        width               : 320px
        max-width           : 90vw

        background          : #fff

        transition          : transition[0]
        transform           : translate3d(-100%, 0, 0)

        .sidebar--open &
            transform       : translate3d(0, 0, 0)


    &__header
        display             : flex
        height              : 50px
        justify-content     : space-between
        align-items         : center

        font-size           : 14px
        font-weight         : bold

        text-transform      : uppercase

        background          : color[0]
        color               : #fff

        padding-left        : 15px


    &__main
        height              : calc(100% - 50px)
        overflow            : auto


    &__button

        svg
            width           : 20px
            height          : 20px

            fill            : #fff

        &--close

            width           : 50px
            height          : 50px

            border          : 0

            background      : color[1]
            color           : #fff


        &--open
            position            : fixed
            bottom              : 20px
            right               : 20px
            z-index             : 50

            width               : 45px
            height              : 45px

            border              : 0
            border-radius       : 50%

            background          : color[2]
    img 
        + span 
            display             : none 
    label
        &.thumb 
            position                : relative 
            font-size               : 0
            width                   : 30px
            margin                  : 1px
            .image 
                display             : inline-block
                border-radius       : 3px
            input 
                position            : absolute
                opacity             : 0
                &:checked 
                    + .image 
                        padding     : 4px
                        box-shadow  : 0 0 0 1px #FF7000, inset 0 0 0 4px #fff
        &.not-thumb
            position                : relative 
            flex                    : 1 1 auto
            input 
                position            : absolute
                opacity             : 0
                + span 
                    display                 : flex 
                    justify-content         : center 
                    align-items             : center   
                    height                  : 100% 
                    padding                 : 0 5px
                    border-radius           : 3px 
                    &:before 
                        display             : none 
                &:checked 
                    + span 
                        box-shadow  : 0 0 0 1px #FF7000

    .fields-thumbs
        display                     : flex 
        justify-content             : flex-start 
        align-items                 : stretch  
        flex-wrap                   : wrap
        margin                      : -4px -2px
        label 
            margin                  : 4px
    .ver-filtros 
        display                     : flex 
        justify-content             : center 
        align-items                 : center 
        font-size                   : 10px
        font-weight                 : regular 
        text-transform              : uppercase
        text-align                  : center 
        padding                     : 5px 10px
        border-radius               : 3px
        color                       : #fff 
        background                  : #FF7000
        

.menu-navegue
    padding                     :  0 
    display                     : flex

    a
        flex                    : 1 1 auto

        display                 : flex
        justify-content         : center
        align-items             : center
        height                  : 45px

        border                  : solid 1px #FFE6AB
        border-radius           : 2px
        margin                  : 2px

        font-size               : 13px
        font-weight             : semi-bold 
        text-transform          : uppercase

        text-decoration         : none

        background              : #fff
        color                   : #888888


        &[title="Refinar Resultado"]
            font-size           : 0

            &:before
                content         : 'Filtrar'
                font-size       : 14px

        &.tab-refinar-ativo, &.tab-navegue-ativo
            background          : #FFE6AB
            color               : #FF7000


.search-single-navigator
    padding                     : 15px

    a
        font-size               : 12px
        font-weight             : regular

        color                   : #888888

    h3 a
        font-size               : 13px
        font-weight             : regular
        text-transform          : uppercase
        color                   : #434343

    h5:not(first-child)
        margin-top              : 15px
        font-size               : 13px
        font-weight             : regular 
        text-transform          : uppercase
        color                   : #434343

    .thumb
        width                   : 30px
        a 
            display             : block
        &.filtro-ativo span 
            display             : none 

    .fields-thumbs
        li 
            margin              : 4px
        .ver-filtros
            margin              : 4px

.search-multiple-navigator
    padding                     : 15px
    display                     : flex 
    flex-flow                   : column nowrap
    &[style*=block] 
        display                 : flex !important
    > h3, > h4, fieldset 
        order                   : 1 

    .bt-refinar
        order                   : 2

    h3
        display                 : none

    h4 a
        font-size               : 13px
        font-weight             : regular

        color                   : #888888

    label
        position                : relative
        display                 : block
        font-size               : 13px
        font-weight             : regular

        color                   : #888888

        &:not(.not-thumb)
            input 
                position            : absolute
                opacity             : 0 
                + span:not(.image)
                    display             : flex 
                    justify-content     : flex-start 
                    align-items         : center  
                    &:before 
                        content         : ''
                        display         : block
                        width           : 10px 
                        height          : 10px 
                        border-radius   : 3px
                        border          : solid 1px #FFE6AB
                        margin-right    : 3px 
                &:checked
                    + span:not(.image):before 
                        background  : #FF7000

    h5:not(first-child)
        margin-top              : 15px
        font-size               : 13px
        font-weight             : regular 
        text-transform          : uppercase
        color                   : #434343
        margin-bottom           : 5px
    .fields-thumbs
        .ver-filtros
            margin              : 4px
    

.search-filter-button
    display                     : flex
    justify-content             : center
    align-items                 : center

    height                      : 40px
    margin-top                  : 15px
    border-radius               : 2px

    font-size                   : 0
    font-weight                 : bold

    text-transform              : uppercase

    background                  : #FFB200
    color                       : #fff

    &:before
        content                 : 'Aplicar Filtro'
        font-size               : 15px
        font-weight             : semi-bold 

    &:hover
        text-decoration         : none

@media (min-width: 992px)
    .sidebar__main 
        overflow                    : visible
    .sidebar__button--open
        display                     : none

    .menu-navegue
        padding                     : 0
        margin                      : -2px

    .search-single-navigator, .search-multiple-navigator
        padding-left                : 0
        padding-right               : 0

    .sidebar
        &__container
            position                : static

            background              : none

            visibility              : visible
            opacity                 : 1

        &__header
            display                 : none
            overflow                : hidden

        &__header, &__main
            width                   : auto
            max-width               : none 
            transform               : translate3d(0,0,0)
