.footer
    .about__footer
        margin: 25px 0
        border-bottom: 1px solid #FFE6AB
        padding-bottom: 10px

        h3 
            font-size: 16px
            color: #888888
            font-weight: 600
            margin-bottom: 15px

        p  
            font-size: 11px
            color: #888888
            font-weight: 400
            text-align: justify
            margin-bottom: 15px
            letter-spacing: -0.1px
            
    .category &
        margin-top      : 20px

    &__container
        { container } 
        display             : flex
        justify-content     : space-between
        flex-wrap           : wrap

    &__nav
        display         : inline-block
        vertical-align  : top 

        &-item a
            line-height : 25px

    a
        font-size       : 13px
        font-weight     : semi-bold
        color           : #fff


    &__title
        display         : block

        font-size       : 15px
        font-weight     : semi-bold

        text-transform  : uppercase

        color           : color[0]

.payment__list
    display: flex 
    justify-content: flex-start 
    align-items: center 
    flex-flow: row wrap
    max-width: 290px 
    svg 
        flex: 0 0 auto
        display: inline-block 
        vertical-align: middle 
        margin: 5px 
        fill: #434343
    .visa 
        width: 41px 
        height: 14px 
    .master 
        width: 31px
        height: 19px 
    .amex 
        width: 31px
        height: 21px 
    .dinners 
        width: 24px
        height: 17px 
    .aura 
        width: 29px 
        height: 20px 
    .elo 
        width: 25px
        height: 25px 
    .hipercard 
        width: 38px
        height: 17px 
    .bb 
        width: 23px
        height: 21px 
    .bradesco 
        width: 20px
        height: 20px
    .itau 
        width: 20px
        height: 20px 
    .boleto 
        width: 26px
        height: 20px
@media screen and (min-width: 992px)
    .footer
 
        &__nav
            &--payment
                max-width       : 345px

            &--security
                max-width       : 215px

.nav__container 
    display: flex
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
    margin-bottom: 30px
    border-bottom: 1px solid #ffe7a7
    padding-bottom: 25px

    .help
        margin-top: 10px 

    .footer__nav-list
        li  
            a  
                font-size: 13px
                color: #888888
                transition: all 150ms ease-in-out

                &:hover
                    text-decoration: none 
                    color: color[0]

.payment 
    .footer__title 
        margin-bottom: 5px

.security
    &__list
        img 
            max-width: 80px
