.rulers
    &__item

        height              : 30px

        font-size           : 14px
        font-weight         : regular

        text-align          : center

        color               : color[1]

        strong
            margin          : 0 3px

        &:before
            display         : inline-block
            width           : 25px
            vertical-align  : middle

            color           : color[0]

        &--frete-gratis
            &:before
                font-icon       : url('./svg/truck.svg')
                font-size       : 16px

        &--boleto
            &:before
                font-icon       : url('./svg/code.svg')
                font-size       : 17px

        &--cartao
            &:before
                font-icon       : url('./svg/card.svg')
                font-size       : 14px


    &__list
        display                 : flex
        align-items             : center

        .slick-arrow
            flex                : 0 0 45px
            

        .slick-list
            flex                : 1 1 auto

@media (min-width: 651px)
    .rulers
        .slick-track
            display             : flex
            justify-content     : space-between

        .slick-slide
            width               : auto !important


@media (min-width: 768px)
    .rulers
        &__item
            text-align          : left

        &__list
            display             : flex
            justify-content     : space-between
            padding             : 10px 0

.info
    &__container
        {container}

    &__list
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin: 35px 0
        border-bottom: 1px solid #FFE6AB
        padding-bottom: 35px

        li  
            font-size: 14px
            color: #434343
            font-weight: 600
            display: flex!important
            align-items: center
            flex-wrap: wrap

            @media(max-width: 1100px)
                justify-content: center

            &:first-child
                &:before
                    font-icon       : url('./svg/desconto.svg')
                    font-size       : 16px
                    margin-right    : 5px
                    color           :color[2]

            &:nth-child(2)
                &:before
                    font-icon       : url('./svg/card2.svg')
                    font-size       : 16px
                    margin-right    : 5px
                    color           :color[2]

            &:nth-child(3)
                &:before
                    font-icon       : url('./svg/security.svg')
                    font-size       : 16px
                    margin-right    : 5px
                    color           :color[2]

            &:nth-child(4)
                &:before
                    font-icon       : url('./svg/truck2.svg')
                    font-size       : 16px
                    margin-right    : 5px
                    color           :color[2]

    


            strong 
                font-size: 11px
                color: #BEAF8C
                font-weight: 600
                margin-left 3px

.slick-arrow
    padding: 0