.labels
    &--showcase
        position        : absolute
        bottom          : 0
        left            : 50%

        transform       : translateX(-50%)

    .flag
        display         : inline-block

        font-size       : 15px
        font-weight     : bold

        text-transform  : uppercase

        background      : rgba(0,0,0,.4)
        color           : #fff
        padding         : 2px 10px

        border-radius   : 2px