.copyright
    background          : #fff

    font-size           : 11px
    font-weight         : regular

    line-height         : 1.2

    color               : #A8A8A8

    &__container
        { container }
        font-size       : 12px 
        padding         : 30px 0
        text-align      : center
        color           : #888888

    p
        display         : block
        margin          : 0 auto
        max-width       : 712px
        padding         : 5px 0

        &:first-child
            font-size   : 13px

