.valor-por
    font-size       : 15px
    font-weight     : regular

    color           : color[0]


.price__installment
    font-size       : 13px
    font-weight     : regular

    strong
        font-weight : regular