.minibanner
    text-align: center
    padding-top: 86px
    &__container
        max-width: 1300px
        width: 100%
        padding: 0 15px
        margin: 0 auto
    .box-banner
        overflow hidden
    img
        display block
        margin: 0 auto
        transition: all .3s
        &:hover
            transform: scale(1.05)
