.banner
    text-align          : center

    img, a
        display         : inline-block


    &--header
        position        : relative
        z-index         : 30

        display         : flex
        justify-content : center
        align-items     : center
        height          : 40px

        transition      : all .1s ease-in-out

        .scrolling &
            opacity     : 0
            visibility  : hidden
