.payment
    &__list
        font-size               : 0
        margin                  : -5px

    &__ico
        display                 : inline-block
        margin                  : 5px

        img
            max-height          : 20px

