.payment
    &__list
        font-size               : 0
        margin                  : -5px

        .diners 
            width: 25px;
            height: 20px;


    &__ico
        display                 : inline-block
        margin                  : 5px

        img
            max-height          : 20px



.section__comments .list__comment .col .comment-star .evaluation-star i 
    width: 100% !important
    max-width: 95px !important
