.header .nav-menu ul>li .nav-all-category
    top: 61px

.header .nav-menu>.shell>ul>li~.nav-close
    background: #000
    top: 184px
    transition: all 0.5s ease-in-out
.scrolling--down .header .nav-menu>.shell>ul>li~.nav-close
    top: 61px

.nav-menu 
    .shell
        >ul
            >li
                &.amb__menu

                    >a
                        position: relative
                        &:after
                            content: '';
                            display: block
                            position: absolute
                            bottom: -20px
                            left 50%
                            margin-left: -5px
                            width: 0
                            height 0;
                            border: solid transparent
                            border-width: 0 5px 8px 5px
                            border-bottom-color: #fff
                            opacity 0
                            transition: all 0.2s ease-in-out
                    &:hover
                        >a
                            &:after
                                bottom: -15px
                                opacity: 1
                    .nav-mega
                        background: none!important

                    .cols
                        margin: 15px 0 0!important
                        padding: 0
                        background: #fff
                        border-radius: 4px
                        overflow hidden
                    .amb__category
                        position: relative
                        height: 344px;
                        >ul
                            display: flex
                            flex-direction: column
                            width: 170px
                            padding: 20px
                            >li
                                // position: relative
                                padding: 5px 10px
                                margin: 0 -20px 0 0
                                transition: all 0.2s ease-in-out
                                >a
                                    color: #247471
                                    font-weight: 400
                                >.has-categoty
                                    position: absolute
                                    left: 100%
                                    right 0
                                    bottom: 0
                                    top: 0
                                    left 170px
                                    display: flex
                                    padding: 0 0 0 25px
                                    justify-content: space-between
                                    opacity 0
                                    visibility: hidden
                                    transition: all 0.2s ease-in-out
                                    img
                                        width: 353px
                                        height 344px
                                        display: block
                                    &:before
                                        content: '';
                                        display: block
                                        position: absolute
                                        left 0
                                        top: 0
                                        width: 1px
                                        height 90px
                                        background: #eeeae1
                                    ul
                                        padding: 20px 0;
                                        li
                                            display: block
                                            padding: 5px
                                            transition: all 0.2s ease-in-out
                                            a
                                                display: block
                                            &:hover
                                                text-shadow: 0 0 1px #000

                                &:hover
                                    background: #f9f9f9
                                    .has-categoty
                                        opacity 1!important
                                        visibility: visible!important
                                
