#orders-page 
    ul.head-nav__sub 
        padding             : 20px 

        p 
            margin-bottom   : 0

    a 
        color               : color[1]
        font-style          : normal

.head-nav
    display                 : flex
    justify-content         : space-between
    align-items             : center

    height                  : 100%

    margin                  : 0 5 0 45px

    .welcome
        font-size           : 0

        a
            &:before
                content         : 'Acessar Conta'
                font-size       : 13px

            &[href*=logout]
                &:before
                    content     : 'Sair'



    &__sub
        position            : absolute
        top                 : 100%
        left                : 0

        min-width           : 250%

        padding             : 20px
        border-radius       : 3px

        font-size           : 13px
        font-weight         : regular

        background          : #fff
        color               : color[1]
        border              : solid 1px #e9e9e9

        visibility          : hidden
        opacity             : 0

        transition          : transition[0]


    &__link
        .head-nav__item--lv1 > &
            display             : flex
            align-items         : center

            min-height          : 45px

            padding             : 5px 0

            font-size           : 12px
            font-weight         : bold

            line-height         : 1.2

            text-transform      : lowercase

            color               : color[1]

            &:hover
                text-decoration : none

    &__item
        &--lv1
            position            : relative
            margin-right        : 20px

            &:after
                content         : ''
                position        : absolute
                top             : 100%
                left            : 0

                width           : 100%
                height          : 1px
                max-width       : 0

                background      : color[0]

                opacity         : 0

                transition      : transition[0]

            &:hover
                &:after
                    opacity         : 1
                    max-width       : 100%

        &--lv2

            + .head-nav__item--lv2
                margin-top          : 10px

            > a
                font-size           : 13px
                font-weight         : regular

                line-height         : 1

                color               : color[1]



    [dropdown=true]

        > .head-nav__link

            &:after
                content         : ''
                margin-top      : 2px
                margin-left     : 3px
                border-top      : solid 4px color[1]
                border-left     : solid 3px transparent
                border-right    : solid 3px transparent

        &:hover

            .head-nav__sub
                visibility    : visible
                opacity       : 1


.head-nav__sub
    display                 : flex
    flex-flow               : column nowrap

    > .head-nav__item
        order               : 1

        .logout &:first-child
            order           : 2
            margin-top      : 10px

        .logout &:nth-child(2)
            margin-top      : 0